@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-color: #15171A;
}

.site {
  overflow: hidden;
  padding-top: 104px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  max-width: 100%;
}

/* Скрывает ненужные блоки */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-1 * (100vw / 2));
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  position: relative;
  margin-top: 100px;
}

.section:first-of-type {
  margin-top: 0;
}

.section:last-of-type {
  margin-bottom: 100px;
}

.btn {
  display: block;
  width: 220px;
  height: 50px;
  background: linear-gradient(315deg, #E45E26 0%, #F7D322 100%);
  border-radius: 5px;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 15px;
  text-align: center;
  color: #15171A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.7));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.7));
}

.main-page {
  position: relative;
}

.main-page .decor_top {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.main-page .decor_bottom {
  position: absolute;
  bottom: 200vh;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.main-page .decor_left {
  position: absolute;
  left: 0;
  top: 100px;
  z-index: -1;
}

.main-page .decor_right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

@media screen and (max-width: 1640px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1368px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .section {
    position: relative;
    margin-top: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    position: relative;
    margin-top: 50px;
  }
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 104px;
  background: #282930;
  -webkit-box-shadow: 0px 10px 30px #000000;
          box-shadow: 0px 10px 30px #000000;
}

header .header_desctop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 20px 0;
}

header .header_mob {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_mob .logo {
  max-width: 80px;
}

header .logo {
  width: 100%;
  max-width: 190px;
}

header nav {
  -ms-flex-item-align: center;
      align-self: center;
}

header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul a {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header ul a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(307.81deg, #E45E26 14.59%, #F7D322 109.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header ul li {
  margin-right: 20px;
}

header ul li.active a {
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(307.81deg, #E45E26 14.59%, #F7D322 109.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header .btn_block {
  -ms-flex-item-align: center;
      align-self: center;
}

header .inner_block {
  display: none;
}

header .inner_block.opened {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(58, 57, 62, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 5;
}

header .menu_block_mobile {
  padding: 50px 0;
}

header .menu_block_mobile ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  width: 100%;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .menu_block_mobile ul a {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .menu_block_mobile ul a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(307.81deg, #E45E26 14.59%, #F7D322 109.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

header .menu_block_mobile ul li {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 14px;
}

header .menu_block_mobile ul li:last-of-type {
  margin-bottom: 0;
}

header .menu_block_mobile .btn_block {
  margin-top: 100px;
}

header .menu_block_mobile .btn_block a {
  margin: 0 auto;
}

header .burger-container {
  width: 40px;
  height: 40px;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

header .burger-container #burger {
  width: 40px;
  height: 22px;
  position: relative;
  display: block;
  margin-top: 10px;
}

header .burger-container #burger .bar {
  width: 100%;
  height: 2px;
  display: block;
  position: relative;
  background: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}

header .burger-container #burger .bar.cntrBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
  width: 31px;
  margin-left: auto;
  margin-top: 3px;
}

header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
  width: 23px;
  margin-left: auto;
  margin-top: 8px;
}

header .burger-container.opened #burger .bar {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

header .burger-container.opened #burger .bar.topBar {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
  width: 100%;
  margin-top: auto;
}

header .burger-container.opened #burger .bar.cntrBar {
  display: none;
}

header .burger-container.opened #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
  width: 100%;
  margin-top: auto;
}

@media screen and (max-width: 1500px) {
  header {
    height: 84px;
  }
  header .header_desctop {
    padding: 10px 0;
  }
  header .logo {
    width: 100%;
    max-width: 170px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 1200px) {
  header {
    height: 70px;
  }
  header .header_desctop {
    display: none;
  }
  header .header_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
footer {
  position: relative;
}

footer .section-bg {
  background-color: #0F1012;
}

footer .main_block {
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

footer .top_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .logo_block {
  width: 200px;
}

footer .social_block {
  margin-top: 20px;
}

footer .social_block a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #FFFFFF;
}

footer .social_block a:hover {
  opacity: 0.5;
}

footer .footer_menu {
  width: 100%;
  max-width: 800px;
}

footer .footer_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer_menu li {
  margin-left: 30px;
}

footer .footer_menu a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer_menu a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(307.81deg, #E45E26 14.59%, #F7D322 109.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

footer .bottom_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

footer .copyright p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
  margin: 0;
}

footer .bottom_footer_menu {
  width: 100%;
  max-width: 800px;
}

footer .bottom_footer_menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .bottom_footer_menu a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.69%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: none;
}

footer .bottom_footer_menu a:hover {
  opacity: 1;
}

@media screen and (max-width: 1368px) {
  footer img {
    max-width: 170px;
  }
}

@media screen and (max-width: 1024px) {
  footer .top_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .logo_block {
    margin: 0 auto 50px;
  }
  footer .logo_block img {
    display: block;
    margin: 0 auto;
  }
  footer .footer_menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .bottom_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright {
    margin-bottom: 20px;
  }
  footer .copyright p {
    text-align: center;
  }
  footer .bottom_footer_menu ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 586px) {
  footer .main_block {
    padding: 30px 0;
  }
  footer .footer_menu li {
    margin-bottom: 20px;
  }
  footer .bottom_block {
    margin-top: 40px;
  }
  footer .copyright {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .bottom_footer_menu {
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# main-page
--------------------------------------------------------------*/
.first_section .main_block {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.first_section .title_block {
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first_section .title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.first_section .title h1 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 92%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(307.81deg, #E45E26 14.59%, #F7D322 109.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.first_section .subtitle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.first_section .subtitle p {
  margin-top: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 130%;
  /* identical to box height, or 39px */
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.first_section .technologies_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.first_section .technologies_block .inner_block {
  width: 152.1px;
  height: 152.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
}

.first_section .technologies_block img {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
}

.production_section .main_block {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.production_section .production_block {
  position: relative;
  width: 580px;
  height: 340px;
  background: #3A393E;
  border-radius: 20px;
  z-index: 1;
}

.production_section .production_block .production_block_before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #3A393E;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: -1;
}

.production_section .production_block:hover .hover_block {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.production_section .production_block:hover .title_block {
  -webkit-transition: 2s;
  transition: 2s;
  margin-top: 0;
  margin-bottom: auto;
}

.production_section .production_block:hover .production_block_before {
  -webkit-transform: rotate(-3.77deg);
          transform: rotate(-3.77deg);
  left: -15px;
  top: -5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.production_section .production_block:hover .text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.production_section .inner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.production_section .title_block {
  position: relative;
  margin-left: 0;
  margin-top: 158px;
  width: 100%;
  max-width: 413px;
  z-index: 3;
  -webkit-transition: 1s;
  transition: 1s;
}

.production_section .title_block h3 {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 0;
}

.production_section .url_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 75px;
  height: 48px;
}

.production_section .url_block a {
  position: relative;
  z-index: 3;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
}

.production_section .hover_block {
  position: absolute;
  content: '';
  width: 383px;
  height: 383px;
  left: 339px;
  top: -147px;
  border-radius: 50%;
  background: linear-gradient(315deg, #8E2486 0%, #D23A63 25.41%, #EB5145 52.42%, #F16A26 76.24%);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 2;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.production_section .text_block {
  display: none;
  position: relative;
  z-index: 3;
  margin-top: 100px;
  width: 100%;
  max-width: 413px;
}

.production_section .text_block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.production_section .text_block li {
  position: relative;
  width: 50%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
  padding-left: 22px;
}

.production_section .text_block li::before {
  position: absolute;
  content: "—";
  left: 0;
}

.portfolio_section .main_block {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}

.portfolio_section .title_block {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 50px;
}

.portfolio_section .title_block h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.portfolio_section .title_block span {
  position: absolute;
  right: -100px;
  top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  background: linear-gradient(315deg, #E45E26 0%, #F7D322 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.portfolio_section .gallery {
  margin: 0 10px 116px;
  width: 100%;
  max-width: 1900px;
  --scrollbar-width: 0px;
  --item-spacing: 10px;
  --column-count: 2;
  --column-height: 600px;
  --layout-indent: 10px;
  --window-width: calc(100% - var(--scrollbar-width));
  --row-width: calc(var(--window-width) - var(--layout-indent)*2);
  --column-width: calc(var(--row-width)*0.65 - var(--item-spacing)*(var(--column-count) - 1)*0.65);
}

.portfolio_section .gallery_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio_section .gallery_block {
  position: relative;
  display: block;
  overflow: hidden;
  width: var(--column-width);
  height: var(--column-height);
  margin-right: var(--item-spacing);
  margin-bottom: var(--item-spacing);
  border-radius: 10px;
}

.portfolio_section .gallery_block img {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.portfolio_section .gallery_block img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio_section .gallery_block:nth-of-type(4n+2), .portfolio_section .gallery_block:nth-of-type(4n+3) {
  --column-width: calc(var(--row-width)*0.34 - var(--item-spacing)*(var(--column-count) - 1)*0.34);
}

.portfolio_section .gallery_block:nth-of-type(2n) {
  margin-right: 0;
}

.portfolio_section a.btn {
  margin: 0 auto;
}

.blog_section .decor_left_blog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.blog_section .decor_right_blog {
  position: absolute;
  right: 0;
  top: -500px;
  z-index: -1;
}

.blog_section .title_block {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 50px;
}

.blog_section .title_block h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.blog_section .title_block span {
  position: absolute;
  right: -100px;
  top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  background: linear-gradient(315deg, #E45E26 0%, #F7D322 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blog_section .blog_block {
  position: relative;
  margin-bottom: 130px;
}

.blog_section .swiper-container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.blog_section .article_block {
  position: relative;
  width: 580px;
  height: 573px;
  margin: 40px auto 40px;
  padding: 40px;
  background: #3A393E;
  -webkit-box-shadow: 10px 10px 30px #000000;
          box-shadow: 10px 10px 30px #000000;
  border-radius: 20px;
}

.blog_section .article_block::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 20px;
  top: 20px;
  background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
  border-radius: 20px;
  z-index: -1;
}

.blog_section .article_block a {
  text-decoration: none;
}

.blog_section .article_block img {
  border-radius: 5px;
}

.blog_section .article_block h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

.blog_section .article_block p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.blog_section .swiper-button-prev-unique {
  position: absolute;
  content: '';
  left: -20px;
  top: calc(50% - 48px);
  width: 155px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/img/main_page/arrow_left.svg") !important;
  z-index: 2;
  cursor: pointer;
}

.blog_section .swiper-button-next-unique {
  position: absolute;
  content: '';
  right: -20px;
  top: calc(50% - 48px);
  width: 155px;
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/img/main_page/arrow_right.svg") !important;
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 1640px) {
  .portfolio_section .gallery {
    --column-height: 450px;
    margin: 0 10px 76px;
  }
  .blog_section .article_block {
    position: relative;
    width: 500px;
    height: 503px;
    margin: 20px auto 20px;
    padding: 30px;
  }
  .blog_section .swiper-container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
  }
  .blog_section .swiper-button-prev-unique {
    left: 100px;
    top: calc(50% - 33px);
    width: 115px;
    height: 66px;
  }
  .blog_section .swiper-button-next-unique {
    right: 80px;
    top: calc(50% - 33px);
    width: 115px;
    height: 66px;
  }
}

@media screen and (max-width: 1500px) {
  .first_section .title_block {
    padding: 160px 0;
  }
  .first_section .title h1 {
    font-size: 80px;
  }
  .first_section .technologies_block .inner_block {
    width: 132.1px;
    height: 132.1px;
  }
  .portfolio_section .title_block h2 {
    font-size: 60px;
  }
  .portfolio_section .gallery {
    --column-height: 400px;
  }
  .blog_section .title_block h2 {
    font-size: 60px;
  }
  .blog_section .swiper-container {
    max-width: 1000px;
  }
  .blog_section .article_block {
    position: relative;
    width: 450px;
    height: 453px;
    margin: 20px auto 20px;
    padding: 30px;
  }
  .blog_section .article_block h3 {
    font-size: 20px;
  }
  .blog_section .article_block p {
    font-size: 13px;
  }
  .blog_section .swiper-button-prev-unique {
    left: 40px;
  }
  .blog_section .swiper-button-next-unique {
    right: 20px;
  }
}

@media screen and (max-width: 1368px) {
  .first_section .title h1 {
    font-size: 60px;
  }
  .first_section .subtitle p {
    font-size: 20px;
  }
  .first_section .technologies_block {
    max-width: 80%;
    margin: 0 auto;
  }
  .production_section .production_block {
    position: relative;
    width: 540px;
    height: 310px;
    background: #3A393E;
    border-radius: 20px;
    z-index: 1;
  }
  .production_section .hover_block {
    position: absolute;
    content: '';
    width: 333px;
    height: 333px;
    left: 349px;
    top: -147px;
    border-radius: 50%;
  }
  .production_section .title_block {
    margin-top: 130px;
  }
  .production_section .title_block h3 {
    font-size: 28px;
  }
  .production_section .text_block {
    margin-top: 70px;
  }
  .blog_section .swiper-button-prev-unique {
    left: -20px;
  }
  .blog_section .swiper-button-next-unique {
    right: -40px;
  }
}

@media screen and (max-width: 1200px) {
  .first_section .technologies_block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 580px;
  }
  .first_section .technologies_block .inner_block {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .first_section .technologies_block img {
    max-width: 67px;
  }
  .production_section .main_block {
    grid-template-columns: repeat(1, 1fr);
  }
  .production_section .production_block {
    margin: 0 auto;
  }
  .portfolio_section .gallery {
    --column-height: calc(100vw / 3);
  }
  .blog_section .arrow_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 40px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog_section .swiper-button-prev-unique {
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .blog_section .swiper-button-next-unique {
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .first_section .title h1 {
    font-size: 40px;
  }
  .portfolio_section .title_block h2 {
    font-size: 30px;
  }
  .portfolio_section .title_block span {
    font-size: 16px;
    line-height: 120%;
    right: -80px;
    top: 0;
  }
  .portfolio_section .gallery {
    --column-height: calc(100vw / 2.5);
  }
  .portfolio_section .gallery_block {
    position: relative;
    display: block;
    overflow: hidden;
    width: calc(var(--row-width)*1 *(var(--column-count) - 1)*1);
    height: var(--column-height);
    margin-right: var(--item-spacing);
    margin-bottom: var(--item-spacing);
    border-radius: 10px;
  }
  .portfolio_section .gallery_block img {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .portfolio_section .gallery_block img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .portfolio_section .gallery_block:nth-of-type(4n+2), .portfolio_section .gallery_block:nth-of-type(4n+3) {
    width: calc(var(--row-width)*0.5 - var(--item-spacing)*(var(--column-count) - 1)*0.5);
    margin-right: var(--item-spacing);
  }
  .portfolio_section .gallery_block:nth-of-type(2n) {
    margin-right: var(--item-spacing);
  }
  .blog_section .title_block {
    margin: 0 auto 20px;
  }
  .blog_section .title_block h2 {
    font-size: 30px;
  }
  .blog_section .title_block span {
    font-size: 16px;
    line-height: 120%;
    right: -90px;
    top: 0;
  }
  .blog_section .blog_block {
    margin-bottom: 70px;
  }
  .blog_section .decor_left_blog {
    display: none;
  }
  .blog_section .decor_right_blog {
    display: none;
  }
}

@media screen and (max-width: 586px) {
  .production_section .production_block {
    width: 100%;
    max-width: 540px;
    height: 250px;
  }
  .production_section .inner_block {
    padding: 20px;
  }
  .production_section .hover_block {
    width: 171px;
    height: 171px;
    top: auto;
    bottom: calc(100% - 96px);
    left: calc(100% - 96px);
  }
  .production_section .url_block {
    width: 47px;
    height: 30px;
  }
  .production_section .title_block {
    max-width: calc(100% - 50px);
  }
  .production_section .title_block h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF;
  }
  .production_section .text_block {
    margin-top: 0;
  }
  .production_section .text_block ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .production_section .text_block li {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .blog_section .article_block {
    padding: 10px;
    width: calc(100% - 20px);
    max-width: 450px;
    margin: 20px 0 20px;
  }
  .blog_section .article_block h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
  }
  .blog_section .article_block p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .blog_section .article_block::before {
    left: 10px;
    top: 10px;
  }
  .blog_section .arrow_block {
    margin: 20px 0;
  }
  .blog_section .swiper-button-prev-unique {
    width: 58px;
    height: 37px;
  }
  .blog_section .swiper-button-next-unique {
    width: 58px;
    height: 37px;
  }
}

/*--------------------------------------------------------------
# services-page
--------------------------------------------------------------*/
.first_section.services .title_block {
  padding: 100px 0 0;
}

.services_second .service_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.services_second .service_block:last-of-type {
  margin-bottom: 0;
}

.services_second .img_block {
  width: 100%;
  max-width: 491px;
}

.services_second .img_block img {
  -webkit-filter: drop-shadow(10px 10px 30px #000000);
          filter: drop-shadow(10px 10px 30px #000000);
  border-radius: 20px;
}

.services_second .title_block {
  position: relative;
  margin-bottom: 40px;
}

.services_second .title_block h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}

.services_second .title_block span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  background: linear-gradient(315deg, #E45E26 0%, #F7D322 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.services_second .content_block {
  width: 100%;
  max-width: 690px;
}

.services_second ul {
  list-style: none;
  margin: 50px 0 0;
  padding: 0;
}

.services_second ul li {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
  padding-left: 22px;
}

.services_second ul li::before {
  position: absolute;
  content: "—";
  left: 0;
}

.services_second p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.services_second .grey_block {
  position: relative;
  --height-grey: 290px;
}

.services_second .grey_block .inner_block {
  position: relative;
  width: 100%;
  height: var(--height-grey);
  background: #3A393E;
  padding: 40px;
  -webkit-box-shadow: 10px 10px 30px #000000;
          box-shadow: 10px 10px 30px #000000;
  border-radius: 20px;
  z-index: 2;
}

.services_second .grey_block .hover {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 20px;
  top: 20px;
  background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
  border-radius: 20px;
  z-index: 1;
}

.services_second .grey_block ul {
  margin: 0;
}

.services_second .grey_block li {
  margin-bottom: 20px;
}

.services_second .grey_block a.btn {
  margin-top: 30px;
}

.services_third .service_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services_third .section-bg {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  left: calc(50% - 150px);
  margin-left: calc(-1 * (100vw / 2));
  z-index: 0;
}

.services_third .title_block {
  position: relative;
  margin-bottom: 40px;
}

.services_third .title_block h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}

.services_third .title_block span {
  position: absolute;
  right: -15px;
  top: -10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  background: linear-gradient(315deg, #E45E26 0%, #F7D322 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.services_third .col:first-of-type {
  width: 100%;
  max-width: 491px;
  margin-top: 100px;
  margin-bottom: 177px;
}

.services_third .col:last-of-type {
  position: relative;
  width: 100%;
  max-width: 690px;
}

.services_third .col:last-of-type .img_block {
  position: absolute;
  width: 604px;
  height: 584px;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/*--------------------------------------------------------------
# about-page
--------------------------------------------------------------*/
.about_us_second .container {
  max-width: 1200px;
}

.about_us_second .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_us_second .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding: 35px;
  height: 134px;
  background: rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  cursor: pointer;
}

.about_us_second .control p {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}

.about_us_second .control.active-control {
  background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
  -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.5));
  border: none;
}

.page {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  color: #FFFFFF;
}

.page p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.active-page {
  z-index: 2;
  opacity: 1;
}
