@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-size: 16px;
  line-height: 160%;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #100c1d;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
}

/* Скрывает ненужные блоки */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

header .header_logo {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 66px;
}

header .main_header_block {
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .menu {
  -ms-flex-item-align: center;
      align-self: center;
}

header .menu ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .menu li {
  margin-right: 10px;
}

header .menu li:last-of-type {
  margin-right: 0;
}

header .menu a {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #FFFFFF;
}

header .menu a.current {
  text-decoration: underline;
}

header .header_block_mobile {
  display: none;
}

/*--------------------------------------------------------------
# first block
--------------------------------------------------------------*/
.section_one {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(0px 10px 30px rgba(5, 1, 22, 0.15));
          filter: drop-shadow(0px 10px 30px rgba(5, 1, 22, 0.15));
}

.section_one .main_block {
  padding-top: 190px;
}

.section_one .title_block p {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 0 10px;
  color: #FFFFFF;
}

.section_one .title_block h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 110px;
  color: #FFFFFF;
  margin: 0;
}

.section_one .descr_block {
  margin-top: 150px;
  width: 100%;
  max-width: 940px;
}

.section_one .descr_block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.section_one .descr_block ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;
  text-align: left;
  width: 100%;
  max-width: 407px;
  margin-bottom: 20px;
}

.no-webgl .section_one {
  background-image: url("../img/govern-engineer.jpg");
}

.webgl .section_one {
  background-image: url("../img/govern-engineer.webp");
}

/*--------------------------------------------------------------
# tabs block
--------------------------------------------------------------*/
.tabs_section .main_block {
  padding: 150px 0 150px;
}

.tabs_section .title_tabs_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tabs_section .title_tabs_block .tab_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #280DA8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 18px;
  margin-right: 16px;
  margin-bottom: 12px;
  cursor: pointer;
}

.tabs_section .title_tabs_block .tab_top span {
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 27px;
  text-align: center;
  color: #280DA8;
}

.tabs_section .title_tabs_block .tab_top:last-of-type {
  margin-right: 0;
}

.tabs_section .title_tabs_block .tab_top.active {
  background: #280DA8;
}

.tabs_section .title_tabs_block .tab_top.active span {
  color: #FFFFFF;
  font-weight: bold;
}

.tabs_section .content_tabs_block {
  margin-top: 65px;
}

.tabs_section .content_tabs_block .content {
  display: none;
}

.tabs_section .content_tabs_block .content.show {
  display: initial;
}

.tabs_section .content_tabs_block .content li::marker {
  color: #280DA8;
}

.tabs_section .content_tabs_block #one .inner_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-areas: "point_1 point_2 point_3 point_4" "point_5 point_6 point_7 point_7";
}

.tabs_section .content_tabs_block #one .col {
  width: 100%;
  max-width: 285px;
}

.tabs_section .content_tabs_block #one .col:last-of-type {
  max-width: 578px;
}

.tabs_section .content_tabs_block #one .subtitle {
  min-height: 56px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 360px;
}

.tabs_section .content_tabs_block #one h3 {
  margin: 0;
}

.tabs_section .content_tabs_block #one p {
  margin: 0;
}

.tabs_section .content_tabs_block #one .point_1 {
  grid-area: point_1;
}

.tabs_section .content_tabs_block #one .point_2 {
  grid-area: point_2;
}

.tabs_section .content_tabs_block #one .point_2 .subtitle {
  max-width: 200px;
}

.tabs_section .content_tabs_block #one .point_3 {
  grid-area: point_3;
}

.tabs_section .content_tabs_block #one .point_4 {
  grid-area: point_4;
}

.tabs_section .content_tabs_block #one .point_4 .subtitle {
  max-width: 200px;
}

.tabs_section .content_tabs_block #one .point_5 {
  grid-area: point_5;
}

.tabs_section .content_tabs_block #one .point_6 {
  grid-area: point_6;
}

.tabs_section .content_tabs_block #one .point_7 {
  grid-area: point_7;
}

.tabs_section .content_tabs_block #two {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #two.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs_section .content_tabs_block #two .inner_block {
  width: 100%;
}

.tabs_section .content_tabs_block #two .inner_block:first-of-type {
  max-width: 672px;
}

.tabs_section .content_tabs_block #two .inner_block:last-of-type {
  max-width: 432px;
}

.tabs_section .content_tabs_block #two ul {
  padding-left: 20px;
  margin-top: 40px;
}

.tabs_section .content_tabs_block #two li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #100C1D;
  margin-bottom: 10px;
}

.tabs_section .content_tabs_block #two li::marker {
  color: #280DA8;
}

.tabs_section .content_tabs_block #two picture:first-child img {
  -webkit-transform: matrix(0, 1, 1, 0, 0, 0);
          transform: matrix(0, 1, 1, 0, 0, 0);
  max-width: 327px;
}

.tabs_section .content_tabs_block #three .accordion_block:last-of-type .content_block ul {
  padding-left: 0;
}

.tabs_section .content_tabs_block #three .accordion_block:last-of-type .content_block li {
  font-weight: bold;
}

.tabs_section .content_tabs_block #three .accordion_block:last-of-type .content_block .col p {
  margin-top: 0;
}

.tabs_section .content_tabs_block #three .content_block {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.tabs_section .content_tabs_block #three .content_block .col {
  width: 100%;
  max-width: 590px;
}

.tabs_section .content_tabs_block #three .content_block .col:last-of-type {
  max-width: 550px;
}

.tabs_section .content_tabs_block #three .content_block p.strong {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #100C1D;
  margin-top: 0;
}

.tabs_section .content_tabs_block #three .content_block ul {
  margin-top: 40px;
}

.tabs_section .content_tabs_block #three .content_block li {
  margin-bottom: 15px;
}

.tabs_section .content_tabs_block #three .content_block li::marker {
  color: #280DA8;
}

.tabs_section .content_tabs_block #three .content_block img {
  margin-bottom: 5px;
}

.tabs_section .content_tabs_block #three .accordion_block.san .content_block .col {
  width: 100%;
  max-width: 739px;
}

.tabs_section .content_tabs_block #three .accordion_block.san .content_block .col:last-of-type {
  max-width: 212px;
}

.tabs_section .content_tabs_block #three .accordion_block.san .content_block img {
  margin-bottom: 25px;
}

.tabs_section .content_tabs_block #three .accordion_block.san .content_block .inner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #three .accordion_block.san .content_block .col_inner {
  width: 100%;
  max-width: 360px;
}

.tabs_section .content_tabs_block #three .accordion_block.san .img_block img {
  margin-bottom: 0;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .inner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .inner_block p {
  display: block;
  width: 100%;
  max-width: 590px;
  margin-top: 0;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block {
  display: block;
  width: 100%;
  background-color: #280DA8;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block ul {
  margin: 0;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block li {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img {
  margin-right: 10px;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img:last-of-type {
  margin-right: 0;
}

.tabs_section .content_tabs_block #three .accordion_block.dez .link_block {
  width: 100%;
}

.tabs_section .content_tabs_block #three li.bird {
  position: relative;
  list-style: none;
  padding-left: 26px;
}

.tabs_section .content_tabs_block #three li.bird::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background-image: url("/img/four/bird.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.tabs_section .content_tabs_block #three .title_block {
  width: 100%;
  max-width: 590px;
  position: relative;
  border-bottom: 1px solid rgba(67, 43, 179, 0.2);
}

.tabs_section .content_tabs_block #three .title_block h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #100C1D;
  margin: 9px 0;
}

.tabs_section .content_tabs_block #three .title_block:before {
  position: absolute;
  content: '';
  width: 54px;
  height: 24px;
  right: 0;
  top: calc(50% - 12px);
  background-image: url("/img/four/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.tabs_section .content_tabs_block #three .title_block.accordion-active {
  border-bottom: 2px solid #280DA8;
}

.tabs_section .content_tabs_block #three .title_block.accordion-active h3 {
  color: #280DA8;
}

.tabs_section .content_tabs_block #three .title_block.accordion-active::before {
  background-image: url("/img/four/blue-arrow.svg");
}

.tabs_section .content_tabs_block #four.show {
  display: block;
}

.tabs_section .content_tabs_block #four .inner_block:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #four .inner_block:first-of-type .col {
  width: 100%;
  max-width: 590px;
}

.tabs_section .content_tabs_block #four ul {
  margin-top: 40px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #four li {
  width: 100%;
  max-width: 590px;
  margin-bottom: 20px;
}

.tabs_section .content_tabs_block #five {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #five.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs_section .content_tabs_block #five .inner_block {
  width: 100%;
}

.tabs_section .content_tabs_block #five .inner_block:first-of-type {
  max-width: 692px;
}

.tabs_section .content_tabs_block #five .inner_block:last-of-type {
  max-width: 407px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs_section .content_tabs_block #five ul {
  margin-top: 40px;
  padding-left: 20px;
}

.tabs_section .content_tabs_block #five li {
  margin-bottom: 15px;
}

.tabs_section .content_tabs_block #five img {
  margin-bottom: 10px;
}

.tabs_section .content_tabs_block #six {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #six.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs_section .content_tabs_block #six .inner_block {
  width: 100%;
  max-width: 570px;
}

.tabs_section .content_tabs_block #six p.strong {
  font-weight: bold;
}

.tabs_section .content_tabs_block #six ul {
  margin-top: 40px;
  padding-left: 20px;
}

.tabs_section .content_tabs_block #six li {
  margin-bottom: 15px;
}

.tabs_section .content_tabs_block #six img {
  margin-bottom: 10px;
}

.tabs_section .content_tabs_block #seven p.strong {
  font-family: "Noto Sans TC", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  color: #100C1D;
}

.tabs_section .content_tabs_block #seven ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  padding-left: 20px;
}

.tabs_section .content_tabs_block #seven li {
  margin-bottom: 15px;
  width: 100%;
  max-width: 570px;
}

.tabs_section .content_tabs_block #eight p.strong {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #100C1D;
}

.tabs_section .content_tabs_block #eight .inner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs_section .content_tabs_block #eight .inner_block img {
  max-width: 100%;
}

.tabs_section .content_tabs_block #eight .col {
  width: 100%;
  max-width: 570px;
}

.tabs_section .content_tabs_block #eight ul {
  margin-top: 40px;
  padding-left: 20px;
}

.tabs_section .content_tabs_block #eight li {
  width: 100%;
  max-width: 570px;
}

.tabs_section .content_tabs_block #eight .img_block {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs_section .content_tabs_block #eight img {
  width: 100%;
  max-width: 590px;
}

.tabs_section .img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
}

/*--------------------------------------------------------------
# form block
--------------------------------------------------------------*/
.form_section {
  position: relative;
  background: #280DA8;
  -webkit-box-shadow: 0px 10px 30px rgba(5, 1, 22, 0.15);
          box-shadow: 0px 10px 30px rgba(5, 1, 22, 0.15);
}

.form_section .main_block {
  padding: 95px 0;
}

.form_section .top_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  height: 60px;
}

.form_section .top_block h2 {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0;
}

.form_section .top_block p {
  -ms-flex-item-align: center;
      align-self: center;
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  max-width: 402px;
  margin-left: 80px;
}

.form_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form_section form .input_block {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form_section form .input_block label {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.form_section form .input_block input {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border: 1px solid #fff;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  padding-left: 15px;
  color: #100c1d;
}

.form_section form .input_block input::-webkit-input-placeholder {
  color: rgba(1, 26, 64, 0.4);
}

.form_section form .input_block input::-moz-placeholder {
  color: rgba(1, 26, 64, 0.4);
}

.form_section form .input_block input:-ms-input-placeholder {
  color: rgba(1, 26, 64, 0.4);
}

.form_section form .input_block input::-ms-input-placeholder {
  color: rgba(1, 26, 64, 0.4);
}

.form_section form .input_block input::placeholder {
  color: rgba(1, 26, 64, 0.4);
}

.form_section form .input_block .form_button {
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #FC9B20;
  background: #FC9B20;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: auto;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.form_section form .input_block .form_button:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #FC9B20;
  -webkit-transition: .5s;
  transition: .5s;
}

/*--------------------------------------------------------------
# partners block
--------------------------------------------------------------*/
.partners_section .main_block {
  padding: 150px 0 150px;
}

.partners_section .partners_block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners_section .partners_block .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 386px;
  height: 150px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 30px rgba(5, 1, 22, 0.07);
          box-shadow: 0px 5px 30px rgba(5, 1, 22, 0.07);
  margin-bottom: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.partners_section .partners_block .partners:first-of-type {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.partners_section .partners_block .partners:first-of-type p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #100C1D;
  margin: 0;
}

.partners_section .partners_block .partners:first-of-type:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.partners_section .partners_block .partners img {
  display: block;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
}

.partners_section .partners_block .partners:hover {
  -webkit-box-shadow: 0px 5px 30px rgba(5, 1, 22, 0.17);
          box-shadow: 0px 5px 30px rgba(5, 1, 22, 0.17);
  -webkit-transition: .5s;
  transition: .5s;
}

/*--------------------------------------------------------------
# contacts block
--------------------------------------------------------------*/
.contact_section .main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact_section .left_block {
  width: 100%;
  max-width: 380px;
}

.contact_section .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact_section .top .logo {
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 79px;
}

.contact_section .top .logo img {
  width: 100%;
}

.contact_section .top .text {
  width: 100%;
  margin-left: 15px;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact_section .top p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 127%;
  color: #100C1D;
  opacity: 0.7;
}

.contact_section .top .big_t {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #280DA8;
  opacity: 1;
}

.contact_section .center {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_section .center a {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #100C1D;
  text-decoration: none;
  padding-left: 30px;
}

.contact_section .center a::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_section .center a.adres::before {
  background-image: url("../img/adres_icon.svg");
}

.contact_section .center a.tel::before {
  background-image: url("../img/phone_icon.png");
}

.contact_section .center a.mail::before {
  background-image: url("../img/email_icon.svg");
}

.contact_section .center a:hover {
  color: #FC9B20;
}

.contact_section .right_block {
  width: 100%;
  max-width: 692px;
}

.contact_section .right_block img {
  -webkit-box-shadow: 0px 10px 20px rgba(5, 1, 22, 0.15);
          box-shadow: 0px 10px 20px rgba(5, 1, 22, 0.15);
}

/*--------------------------------------------------------------
# footer block
--------------------------------------------------------------*/
footer {
  width: 100%;
  margin-top: 150px;
  background: #100C1D;
}

footer .footer_main_block {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .top {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .top .logo {
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 79px;
}

footer .top .logo img {
  width: 100%;
}

footer .top .text {
  width: 100%;
  margin-left: 15px;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .top p {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 127%;
  color: #fff;
  opacity: 1;
}

footer .top .big_t {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  opacity: 1;
}

footer .menu {
  width: 100%;
  max-width: 226px;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .menu li {
  margin-bottom: 10px;
}

footer .menu li:last-of-type {
  margin-bottom: 0;
}

footer .menu a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .menu a:hover {
  text-decoration: underline;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .footer_inner_block:last-of-type {
  width: 100%;
  max-width: 400px;
}

footer .copyrate_block {
  width: 100%;
  padding: 10px 0 34px;
}

footer .copyrate_block p {
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0;
}

.link_block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link_block .description {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.link_block .color_text {
  color: #FC9B20;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.link_block h3 {
  margin: 10px 0;
}

.link_block .youtube a {
  color: transparent;
  margin-right: 10px;
}

.link_block .text_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.link_block .text_links a {
  color: #FC9B20;
}

/*--------------------------------------------------------------
# media
--------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
  .section_one .main_block {
    padding-top: 140px;
  }
  .section_one .descr_block {
    margin-top: 80px;
  }
  .tabs_section .main_block {
    padding: 100px 0 100px;
  }
  .form_section .main_block {
    padding: 50px 0 50px;
  }
  .partners_section .main_block {
    padding: 100px 0 100px;
  }
  footer {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1366px) {
  .section_one .title_block h1 {
    font-size: 80px;
    line-height: 90px;
  }
  .section_one .descr_block {
    margin-top: 80px;
  }
  .section_one .descr_block ul li {
    font-size: 20px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    position: relative;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .tabs_section .title_tabs_block .tab_top {
    padding: 8px 15px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .tabs_section .title_tabs_block .tab_top span {
    font-size: 16px;
    line-height: 22px;
  }
  .tabs_section .content_tabs_block {
    margin-top: 65px;
  }
  .tabs_section .content_tabs_block #three .content_block .col {
    width: 100%;
    max-width: none;
  }
  .tabs_section .content_tabs_block #three .content_block .col:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #three .content_block .col:last-of-type picture {
    margin: 5px auto;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .col {
    width: 100%;
    max-width: 739px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .col:last-of-type {
    max-width: 212px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block img {
    margin-bottom: 25px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .inner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .col_inner {
    width: 100%;
    max-width: 360px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .img_block img {
    margin-bottom: 0;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .inner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .inner_block p {
    display: block;
    width: 100%;
    max-width: 590px;
    margin-top: 0;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block {
    display: block;
    width: 100%;
    background-color: #280DA8;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block ul {
    margin: 0;
    padding: 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block li {
    width: 100%;
    max-width: 408px;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img {
    margin-right: 10px;
    max-width: 33%;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img:last-of-type {
    margin-right: 0;
  }
  .tabs_section .content_tabs_block #three li.bird {
    position: relative;
    list-style: none;
    padding-left: 26px;
  }
  .tabs_section .content_tabs_block #three li.bird::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-image: url("/img/four/bird.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .tabs_section .content_tabs_block #three .title_block {
    width: 100%;
    max-width: 590px;
    position: relative;
    border-bottom: 1px solid rgba(67, 43, 179, 0.2);
  }
  .tabs_section .content_tabs_block #three .title_block h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #100C1D;
    margin: 9px 0;
  }
  .tabs_section .content_tabs_block #three .title_block:before {
    position: absolute;
    content: '';
    width: 54px;
    height: 24px;
    right: 0;
    top: calc(50% - 12px);
    background-image: url("/img/four/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .tabs_section .content_tabs_block #three .title_block.accordion-active {
    border-bottom: 2px solid #280DA8;
  }
  .tabs_section .content_tabs_block #three .title_block.accordion-active h3 {
    color: #280DA8;
  }
  .tabs_section .content_tabs_block #three .title_block.accordion-active::before {
    background-image: url("/img/four/blue-arrow.svg");
  }
  .tabs_section .content_tabs_block #four li {
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
  }
  .tabs_section .content_tabs_block #six .inner_block {
    width: 100%;
    max-width: 450px;
  }
  .tabs_section .content_tabs_block #seven .img_block img {
    margin-right: 10px;
    width: 100%;
    max-width: 500px;
  }
  .tabs_section .content_tabs_block #seven .img_block img:last-of-type {
    margin-right: 0;
  }
  .tabs_section .content_tabs_block #eight .col {
    width: 100%;
    max-width: 450px;
  }
  .tabs_section .content_tabs_block #eight .img_block img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
  }
  .tabs_section .content_tabs_block #eight .img_block img:last-of-type {
    margin-bottom: 0;
    margin-right: auto;
  }
  .tabs_section .img_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 65px;
  }
  .form_section .top_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    height: 60px;
  }
  .form_section .top_block h2 {
    display: block;
    -ms-flex-item-align: center;
        align-self: center;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 0;
  }
  .form_section .top_block p {
    -ms-flex-item-align: center;
        align-self: center;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    max-width: 402px;
    margin-left: 80px;
  }
  .form_section form .input_block {
    max-width: 300px;
  }
  .form_section form .input_block label {
    font-size: 12px;
    line-height: 16px;
  }
  .form_section form .input_block input {
    width: 100%;
    height: 50px;
  }
  .form_section form .input_block .form_button {
    display: block;
    width: 100%;
    height: 50px;
  }
  .contact_section .right_block {
    width: 100%;
    max-width: 592px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 930px;
  }
  header .main_header_block {
    display: none;
  }
  header .header_block_mobile {
    display: none;
  }
  header .header_block_mobile .header_logo {
    margin-top: 10px;
    margin-left: 15px;
    height: 100%;
    max-height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header_block_mobile .header_logo a {
    -ms-flex-item-align: center;
        align-self: center;
    display: block;
  }
  header .header_block_mobile .header {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    height: 85px;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out, background 1s ease-out;
    transition: all 0.5s ease-out, background 1s ease-out;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    z-index: 1;
  }
  header .header_block_mobile .header .burger-container {
    position: absolute;
    top: 0;
    right: 15px;
    padding-top: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 4;
  }
  header .header_block_mobile .header .burger-container #burger {
    width: 40px;
    height: 30px;
    position: relative;
    display: block;
    margin: 0;
    top: 0;
  }
  header .header_block_mobile .header .burger-container #burger .bar {
    width: 100%;
    display: block;
    position: relative;
    background: #FFF;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    height: 4px;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  header .header_block_mobile .header .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  header .header_block_mobile .header .burger-container #burger .bar.cntrBar {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
    margin-top: 3px;
  }
  header .header_block_mobile .header .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
            transform: translateY(6px) rotate(0deg);
    margin-top: 8px;
  }
  header .header_block_mobile .header ul.menu {
    position: relative;
    display: block;
    padding: 30px 48px 0;
    list-style: none;
    margin: 0;
  }
  header .header_block_mobile .header ul.menu li {
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
            transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  header .header_block_mobile .header ul.menu li:nth-child(1) {
    -webkit-transition-delay: 0.49s;
            transition-delay: 0.49s;
  }
  header .header_block_mobile .header ul.menu li:nth-child(2) {
    -webkit-transition-delay: 0.42s;
            transition-delay: 0.42s;
  }
  header .header_block_mobile .header ul.menu li:nth-child(3) {
    -webkit-transition-delay: 0.35s;
            transition-delay: 0.35s;
  }
  header .header_block_mobile .header ul.menu li:nth-child(4) {
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }
  header .header_block_mobile .header ul.menu li:nth-child(5) {
    -webkit-transition-delay: 0.21s;
            transition-delay: 0.21s;
  }
  header .header_block_mobile .header ul.menu li:nth-child(6) {
    -webkit-transition-delay: 0.14s;
            transition-delay: 0.14s;
  }
  header .header_block_mobile .header ul.menu li:nth-child(7) {
    -webkit-transition-delay: 0.07s;
            transition-delay: 0.07s;
  }
  header .header_block_mobile .header ul.menu li a {
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    text-decoration: none;
    font-size: 22px;
    line-height: 150%;
    font-weight: 400;
    width: 100%;
  }
  header .header_block_mobile .header.menu-opened {
    height: 100%;
    background: rgba(23, 23, 26, 0.95);
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
    position: fixed;
  }
  header .header_block_mobile .header.menu-opened .burger-container {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 30px;
  }
  header .header_block_mobile .header.menu-opened .burger-container #burger .bar {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    background: #FFFFFF;
  }
  header .header_block_mobile .header.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
    width: 100%;
    margin-top: auto;
  }
  header .header_block_mobile .header.menu-opened .burger-container #burger .bar.cntrBar {
    display: none;
  }
  header .header_block_mobile .header.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    width: 100%;
    margin-top: auto;
  }
  header .header_block_mobile .header.menu-opened ul.menu li {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(1) {
    -webkit-transition-delay: 0.27s;
            transition-delay: 0.27s;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(2) {
    -webkit-transition-delay: 0.34s;
            transition-delay: 0.34s;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(3) {
    -webkit-transition-delay: 0.41s;
            transition-delay: 0.41s;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(4) {
    -webkit-transition-delay: 0.48s;
            transition-delay: 0.48s;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(5) {
    -webkit-transition-delay: 0.55s;
            transition-delay: 0.55s;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(6) {
    -webkit-transition-delay: 0.62s;
            transition-delay: 0.62s;
  }
  header .header_block_mobile .header.menu-opened ul.menu li:nth-child(7) {
    -webkit-transition-delay: 0.69s;
            transition-delay: 0.69s;
  }
  header .header_block_mobile .header.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
            transform: translateX(75px);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  header .header_block_mobile .header.menu-opened .header_logo {
    margin-top: 10px;
  }
}

@media screen and (max-width: 1024px) and (max-width: 1024px) {
  header .header_block_mobile {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0px;
  }
  header .header_block_mobile .header {
    position: absolute;
  }
}

@media screen and (max-width: 1024px) {
  .section_one .descr_block {
    max-width: 740px;
  }
  .section_one .descr_block ul li {
    max-width: 307px;
    margin-bottom: 20px;
  }
  .tabs_section .content_tabs_block #one .inner_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    grid-template-areas: "point_1 point_2 point_3" "point_4 point_5 point_6" "point_7 point_7 .";
  }
  .tabs_section .content_tabs_block #two.show {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #two .inner_block:first-of-type {
    max-width: 100%;
  }
  .tabs_section .content_tabs_block #two .inner_block:last-of-type {
    max-width: 100%;
  }
  .tabs_section .content_tabs_block #three .content_block .col {
    width: 100%;
    max-width: none;
  }
  .tabs_section .content_tabs_block #three .content_block .col:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #three .content_block .col:last-of-type picture {
    margin: 5px auto;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .col {
    width: 100%;
    max-width: 739px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .col:last-of-type {
    max-width: 100%;
    display: block;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block img {
    margin-bottom: 25px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .inner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .content_block .col_inner {
    width: 100%;
    max-width: 360px;
  }
  .tabs_section .content_tabs_block #three .accordion_block.san .img_block img {
    margin-bottom: 0;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .inner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .inner_block p {
    display: block;
    width: 100%;
    max-width: 590px;
    margin-top: 0;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block {
    display: block;
    width: 100%;
    background-color: #280DA8;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block ul {
    margin: 0;
    padding: 30px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .blue_block li {
    width: 100%;
    max-width: 408px;
    list-style: none;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img {
    margin: 0 auto 10px;
    width: 100%;
    max-width: 33%;
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img:last-of-type {
    margin-right: auto;
  }
  .tabs_section .content_tabs_block #three li.bird {
    position: relative;
    list-style: none;
    padding-left: 26px;
  }
  .tabs_section .content_tabs_block #three li.bird::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-image: url("/img/four/bird.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .tabs_section .content_tabs_block #three .title_block {
    width: 100%;
    max-width: 90%;
    position: relative;
    border-bottom: 1px solid rgba(67, 43, 179, 0.2);
  }
  .tabs_section .content_tabs_block #three .title_block h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: #100C1D;
    margin: 9px 0;
  }
  .tabs_section .content_tabs_block #four .inner_block:first-of-type {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #four .inner_block:first-of-type .col {
    max-width: none;
  }
  .tabs_section .content_tabs_block #four ul {
    padding-left: 20px;
  }
  .tabs_section .content_tabs_block #four ul li {
    max-width: none;
  }
  .tabs_section .content_tabs_block #five.show {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #five .inner_block {
    width: 100%;
    max-width: 100%;
  }
  .tabs_section .content_tabs_block #five .inner_block:last-of-type {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
  }
  .tabs_section .content_tabs_block #five .inner_block:last-of-type img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
  }
  .tabs_section .content_tabs_block #five .inner_block:last-of-type img:last-of-type {
    margin-bottom: 0;
    margin-right: auto;
  }
  .tabs_section .content_tabs_block #six.show {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #six .inner_block {
    width: 100%;
    max-width: 100%;
  }
  .tabs_section .content_tabs_block #seven .img_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs_section .content_tabs_block #seven .img_block img {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 500px;
  }
  .tabs_section .content_tabs_block #seven .img_block img:last-of-type {
    margin-bottom: 0;
    margin-right: auto;
  }
  .tabs_section .img_block picture {
    margin-right: 10px;
  }
  .tabs_section .img_block picture:last-of-type {
    margin-right: 0;
  }
  .form_section .top_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
    height: 60px;
  }
  .form_section .top_block h2 {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .form_section .top_block p {
    text-align: center;
    margin: 15px auto 0;
  }
  .form_section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px auto 0;
  }
  .form_section form .input_block {
    max-width: 400px;
    margin-bottom: 10px;
  }
  .form_section form .input_block label {
    font-size: 12px;
    line-height: 16px;
  }
  .form_section form .input_block input {
    width: 100%;
    height: 50px;
  }
  .form_section form .input_block .form_button {
    display: block;
    width: 100%;
    height: 50px;
  }
  .form_section form .input_block:last-of-type {
    margin-top: 10px;
  }
  .contact_section .main_block .left_block {
    margin: 0 auto;
  }
  .contact_section .main_block .right_block {
    margin: 20px auto 0;
  }
  footer .footer_inner_block:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .section_one {
    height: auto;
    min-height: 720px;
  }
  .section_one .title_block h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .tabs_section .content_tabs_block #one .inner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer_main_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_main_block .footer_inner_block {
    margin: 0 auto 20px;
  }
  footer .footer_main_block .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_main_block .top .text {
    text-align: center;
  }
  footer .copyrate_block p {
    text-align: center;
  }
}

@media screen and (max-width: 587px) {
  .section_one .descr_block ul li {
    text-shadow: 0px 0px 10px black;
  }
  .tabs_section .title_tabs_block .tab_top {
    width: 100%;
    padding: 8px 15px;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .tabs_section .content_tabs_block #one .inner_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .tabs_section .content_tabs_block #one .inner_block .col {
    max-width: 400px;
  }
  .tabs_section .content_tabs_block #one .inner_block .col .subtitle {
    min-height: auto;
  }
  .tabs_section .content_tabs_block #three .title_block {
    width: 100%;
    max-width: 100%;
  }
  .tabs_section .content_tabs_block #three .title_block h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #100C1D;
    margin: 9px 0;
  }
  .tabs_section .content_tabs_block #three .title_block::before {
    width: 24px;
    height: 12px;
    right: 0;
    top: calc(50% - 8px);
  }
  .tabs_section .content_tabs_block #three .accordion_block.dez .content_block .img_block img {
    margin: 0 auto 10px;
    width: 100%;
    max-width: none;
  }
  .tabs_section .img_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs_section .img_block picture {
    margin: 0 auto 10px;
  }
  .form_section .top_block {
    height: auto;
  }
}
