/*--------------------------------------------------------------
# about-page
--------------------------------------------------------------*/

.first_section.about_us_first {
    .title_block {
        padding: 100px 0 0;
    }
}

.about_us_first {
    .content_block {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    }

    .col {
        width: 48%;

        h2 {
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            margin-top: 0;
            color: #FFFFFF;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #FFFFFF;
        }

        img {
            border-radius: 20px;
        }
    }
}

.about_us_second {

    .controls {
        display: flex;
        flex-direction: column;
    }

    .swiper-slide {
        display: flex;
        width: 20%;
        padding: 35px;
        height: 134px;
        background: rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        // backdrop-filter: blur(10px);
        cursor: pointer;

        &.active-control {
            background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
            filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.5));
            border: none;
        }
    }

    .control {
        display: flex;
        width: 100%;
        height: 100%;
        align-self: center;

        p {
            width: 100%;
            align-self: center;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }


    }

    .page {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        color: #FFFFFF;
        margin-top: 0;

        &.active-page {
            display: block;
            margin-top: 100px;
            z-index: 2;
            opacity: 1;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }

        h4 {
            margin: 0 0 10px;
        }
    }

    .inner_page {
        position: relative;

        .title_block {
            width: 100%;
            max-width: 696px;
        }

        .block {
            display: flex;
            justify-content: space-between;
        }

        .col {
            width: 30%;
        }
    }

    .question_block {
        position: absolute;
        right: 0;
        top: -50px;
        width: 161px;
        height: 215px;
    }

    .arrow_block {
        display: none;
    }

    .swiper-button-prev-arrow {
        position: relative;
        content: '';
        left: -20px;
        width: 35px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/img/about/Arrow_tab_prev.svg") !important;
        z-index: 2;
        cursor: pointer;
    }

    .swiper-button-next-arrow {
        position: relative;
        content: '';
        right: -20px;
        width: 35px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/img/about/Arrow_tab_next.svg") !important;
        z-index: 2;
        cursor: pointer;
    }
}

.about_us_technologies {
    .title_block {
        h2 {
            text-align: center;
            margin: 0;
        }
    }

    .swiper-slide {
        max-width: 167px !important;
    }

    .technologies_list {
        margin-top: 60px;
    }

    .technology_inner {
        display: flex;
        width: 100%;
        height: 199px;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        padding: 20px 10px;

        img {
            display: block;
            margin: 0 auto;
            max-width: 87px;
        }

        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 130%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 20px 0 0;
        }
    }
}

.about_us_reviews {
    .title_block {
        width: 100%;
        max-width: 580px;

        h2 {
            margin: 0;
        }
    }

    .reviews_block {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    .review {
        --height-review: 370px;
        position: relative;
        width: 100%;
        max-width: 380px;

        .review_inner {
            position: relative;
            width: 100%;
            height: var(--height-review);
            background: #3A393E;
            padding: 17px;
            box-shadow: 10px 10px 30px #000000;
            border-radius: 20px;
            z-index: 2;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }

        .review_hover {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 20px;
            top: 20px;
            background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
            border-radius: 20px;
            z-index: -1;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        h4 {
            margin: 0;
            align-self: center;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150%;
        }

        .author_title {
            margin: 0;
            align-self: center;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}

.about_us_clients {
    .title_block {
        h2 {
            text-align: center;
            margin: 0;
        }
    }

    .clients_block_main {
        position: relative;
        max-width: 1200px;
        margin: 40px auto 0;
    }

    .swiper-slide {
        width: 100%;
        max-width: 167px;
    }

    .client {
        display: flex;
        width: 100%;
        height: 167px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        border-radius: 50%;

        img {
            align-self: center;
            margin: 0 auto;
        }
    }

    .swiper-button-prev-unique {
        position: absolute;
        content: '';
        left: -200px;
        top: calc(50% - 48px);
        width: 155px;
        height: 96px;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/img/main_page/arrow_left.svg") !important;
        z-index: 2;
        cursor: pointer;
    }

    .swiper-button-next-unique {
        position: absolute;
        content: '';
        right: -200px;
        top: calc(50% - 48px);
        width: 155px;
        height: 96px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/img/main_page/arrow_right.svg") !important;
        z-index: 2;
        cursor: pointer;
    }
}

.form_section {
    padding-top: 240px;
    padding-bottom: 200px;

    &.section {
        margin-bottom: 0;
    }

    &.portfolio_form {
        padding-top: 70px;
        padding-bottom: 130px;
    }

    .section-bg {
        background: linear-gradient(180deg, #15171A 0%, rgba(0, 0, 0, 0) 100%), url('/img/about/robot.jpg');
        mix-blend-mode: luminosity;
        opacity: 0.2;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        background-size: cover !important;
    }

    .title_block {
        --decor_top_form: 269px;
        position: relative;
        width: max-content;

        h2 {
            position: relative;
            font-family: $Roboto;
            font-style: normal;
            font-weight: 700;
            line-height: 132.69%;
            color: #FFFFFF;
            margin: 0;
        }

        &::before {
            position: absolute;
            content: '';
            right: 13px;
            top: -155%;
            width: var(--decor_top_form);
            height: var(--decor_top_form);
            background-image: url('/img/about/decor_top_form.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .form_main {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .left_block {
            position: relative;
            width: 100%;
            max-width: 420px;
        }

        .right_block {
            width: 100%;
            max-width: 580px;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }
    }

    .decor_form_left {
        position: absolute;
        left: -100px;
        bottom: -40px;
    }

    .form_inner {
        position: relative;

        form {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 70px 0;
            background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
            box-shadow: 10px 10px 30px #000000;
            border-radius: 20px;
            z-index: 2;
        }

        .form_hover {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: -30px;
            top: -20px;
            background: #3A393E;
            border-radius: 20px;
            transform: rotate(-3.77deg);
            z-index: 1;
        }
    }

    .form_wrap {
        width: 100%;
        max-width: 434px;
        margin: 0 auto 20px;
    }

    input {
        width: 100%;
        height: 70px;
        padding: 0 23px;
        background: #E0E0E0;
        border: none;
        border-radius: 5px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.5);
    }

    input.btn {
        width: 100%;
        max-width: 434px;
        margin: 40px auto 0;
        background: linear-gradient(315deg, #E45E26 0%, #F7D322 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 132.69%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #15171A;
    }
}

@media screen and (max-width:1640px) {

    .about_us_clients {
        .clients_block_main {
            max-width: 1000px;
        }
    }
}

@media screen and (max-width:1500px) {
    .about_us_clients {
        .clients_block_main {
            max-width: 800px;
        }
    }
}

@media screen and (max-width:1368px) {

    .about_us_second {
        .control {
            padding: 15px;

            p {
                font-size: 20px;
            }
        }
    }

    .about_us_reviews {
        .review {
            --height-review: 370px;
            position: relative;
            width: 100%;
            max-width: var(--height-review);
        }
    }
}

@media screen and (max-width:1200px) {

    .about_us_reviews {
        .reviews_block {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
            gap: 40px;
        }

        .review {
            --height-review: 370px;
            position: relative;
            width: 100%;
            max-width: var(--height-review);
        }
    }

    .about_us_clients {
        .swiper-button-prev-unique {
            left: -120px;
            top: calc(50% - 33px);
            width: 115px;
            height: 66px;
        }

        .swiper-button-next-unique {
            right: -120px;
            top: calc(50% - 33px);
            width: 115px;
            height: 66px;
        }
    }

    .form_section {
        .form_main {
            .right_block {
                width: 100%;
                max-width: 500px;
            }

            .left_block {
                position: relative;
                width: 100%;
                max-width: 370px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .about_us_second {
        .control {
            width: 100%;
        }

        .swiper-slide {
            width: 33.3%;
        }

        .arrow_block {
            display: flex;
            margin: 20px auto;
            justify-content: center;
        }
    }

    .about_us_clients {

        .clients_block_main {
            max-width: 580px;
        }

        .arrow_block {
            display: flex;
            margin: 40px auto;
            justify-content: center;
        }

        .swiper-button-prev-unique {
            position: relative;
            align-self: center;
            left: -20px;
        }

        .swiper-button-next-unique {
            position: relative;
            align-self: center;
            right: -20px;
        }
    }

    .form_section {
        .form_main {
            flex-direction: column;

            .left_block {
                margin: 0 auto;
            }

            .right_block {
                margin: 50px auto 0;
            }
        }

        .decor_form_left {
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .about_us_first {
        .content_block {
            flex-direction: column;
            width: 100%;
            max-width: 500px;
            margin: 20px auto 0;
        }

        .col {
            width: 100%;

            h2 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .about_us_second {
        .inner_page {

            .title_block {
                max-width: 70vw;
            }

            .block {
                flex-direction: column;
            }

            .col {
                width: 100%;
            }
        }

        .question_block {
            width: 68.89px;
            height: 92px;
            top: 30px;
            right: 15vw;
        }

        .swiper-slide {
            width: 300px;
        }
    }

    .about_us_reviews {
        .title_block {
            margin: 0 auto;

            h2 {
                text-align: center;
            }
        }

        .reviews_block {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: auto;
            gap: 40px;
            margin-bottom: 100px;
        }

        .review {
            margin: 0 auto;
        }
    }

    .form_section {
        padding-top: 50px;
        padding-bottom: 100px;

        .title_block {
            margin: 0 auto;

            h2 {
                text-align: center;
            }
        }

        .form_inner {
            .form_hover {
                transform: rotate(0);
                left: 30px;
                top: 30px;
            }
        }
    }
}

@media screen and (max-width:586px) {
    .about_us_second {
        .swiper-slide {
            width: 240px;
            padding: 20px;
            height: 80px;
        }

        .control {
            p {
                font-size: 14px;
            }
        }

        .page.active-page {
            margin-top: 70px;
        }

        .question_block {
            top: 60px;
            right: 7vw;
        }
    }

    .about_us_clients {
        .client {
            width: 93px;
            height: 93px;
            display: flex;

            img {
                max-width: 50px;
                margin: 0 auto;
            }
        }

        .swiper-slide {
            max-width: 93px;
        }

        .arrow_block {
            margin: 20px 0;
        }

        .swiper-button-prev-unique {
            width: 58px;
            height: 37px;
        }

        .swiper-button-next-unique {
            width: 58px;
            height: 37px;
        }
    }

    .form_section {
        .title_block {
            --decor_top_form: 169px;
            width: 100%;

            &::before {
                right: 0;
                top: -80%;
            }
        }

        .form_inner {
            form {
                padding: 30px 20px;
            }
        }

        .form_wrap {
            width: 100%;
            max-width: 100%;
        }

        input {
            height: 50px;
        }
    }
}

@media screen and (max-width:400px) {
    .about_us_reviews {
        .review {
            --height-review: 100%;
        }
    }
}