/*--------------------------------------------------------------
# contact page
--------------------------------------------------------------*/

#googlemaps {
    width: 100vw;
    height: calc(100% + 150px);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: calc(-1 * (100vw / 2));
    z-index: -1;
    /* Set z-index to 0 as it will be on a layer below the contact form */
}

.contact {
    position: relative;
    margin-top: 0;
    padding-top: 80px;
    min-height: 900px;

    .section-bg {
        background-image: url('/img/contact_top.svg');
        background-size: contain;
        background-position: top center;
    }

    .main_block {
        display: flex;
        justify-content: space-between;

        &>div {
            width: 100%;
        }
    }

    .text_block {
        max-width: 400px;
        display: flex;
        justify-content: space-between;

        .col {
            width: 100%;
            max-width: 245px;

            &:last-of-type {
                max-width: 112px;
            }
        }

        h1 {
            margin: 0 0 30px;
        }
    }

    .tel {
        margin-bottom: 15px;

        a {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #000;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }

    .email {
        width: 100%;

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #000;
            text-align: left;
            display: block;
            width: 100%;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }

    .adres {
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #000;
        }
    }

    .contact_img {
        display: block;
        margin: 0 auto;
    }

    .site_text p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        font-feature-settings: 'pnum'on, 'lnum'on;
        color: $black;
        margin: 10px 0 0;
    }

    .form_block {
        box-sizing: border-box;
        max-width: 514px;
        background-color: $black;
        padding: 86px 100px;


        p {
            color: #fff;
            margin: 0 0 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .input_inner {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        border-bottom: 1px solid $gold;

        &:last-of-type {
            margin-bottom: 0;
        }

        input {
            width: 100%;
            height: 35px;
            background: transparent;
            border: none;
            font-size: 16px;
            line-height: 19px;
            color: rgba($color: #fff, $alpha: 0.5);
            outline: none;

            &::placeholder {
                color: rgba($color: #fff, $alpha: 0.5);
            }
        }
    }

    .input_submit {
        width: 100%;
        max-width: 300px;
        position: relative;

        .btn {
            border: none;
            text-align: center;
            display: inline-block;
            margin-top: 40px;
            cursor: pointer;
        }

        &::before {
            position: absolute;
            content: '';
            width: 233px;
            height: 16px;
            left: 10%;
            bottom: 15px;
            background-image: url('/img/button_line_1.svg');
        }

        &::after {
            position: absolute;
            content: '';
            width: 178px;
            height: 16px;
            left: 66px;
            bottom: 15px;
            background-image: url('/img/button_line_2.svg');
        }
    }
}

@media screen and (max-width:1368px) {

    .contact .section-bg {
        background-size: cover;
        background-position: center -150px;
    }
}

@media screen and (max-width:1200px) {}

@media screen and (max-width:1024px) {
    .contact {
        .main_block {
            flex-direction: column;
        }

        .text_block {
            margin: 0 auto 30px;
        }

        .form_block {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:586px) {
    .contact {
        .form_block {
            padding: 30px 50px;
        }

        .input_inner {
            width: 100%;
            max-width: none;
        }

        .input_submit {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;

            &::before,
            &::after {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width:356px) {

    .text_block .col:last-of-type {
        display: none;
    }
}