@font-face {
    font-family: "Proxima nova black";

    src: url("../fonts/ProximaNova/Proxima-Nova-Black.otf") format("otf");

}


@font-face {
    font-family: "Proxima nova bold";
    font-weight: bold;
    src: url("../fonts/ProximaNova/Proxima-Nova-Bold.otf") format("otf");

}

@font-face {
    font-family: "Proxima nova extrabold";
    font-weight: extrabold;
    src: url("../fonts/ProximaNova/Proxima-Nova-Extrabold.otf") format("otf");

}

@font-face {
    font-family: "Proxima nova light";
    font-weight: extrabold;
    src: url("../fonts/ProximaNova/Proxima-Nova-Light.otf") format("otf");

}

@font-face {
    font-family: "Proxima nova regular";
    font-weight: extrabold;
    src: url("../fonts/ProximaNova/Proxima-Nova-Regular.otf") format("otf");

}

@font-face {
    font-family: "Proxima nova semibold";
    font-weight: extrabold;
    src: url("../fonts/ProximaNova/Proxima-Nova-Semibold.otf") format("otf");

}