/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

footer {
    position: relative;
    background: $black;

    .main_block {
        padding: 30px 0 0;
        display: flex;
        justify-content: space-between;

        &>div {
            width: 100%;
        }
    }

    .logo_block {
        max-width: 126px;

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: rgba(255, 255, 255, 0.6);
        }
    }

    .menu_block {
        max-width: 150px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            text-decoration: none;

            &:hover {
                color: $gold;
            }
        }

    }

    .right_block {
        max-width: 200px;
        text-align: right;

        a {
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            font-feature-settings: 'pnum'on, 'lnum'on;
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);

            &:hover {
                color: $gold;
            }
        }
    }

    .bottom_block {
        width: 100%;
        text-align: right;
        padding: 20px 0 30px;

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: right;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: rgba(255, 255, 255, 0.6);
            margin: 0;
        }
    }

}

.phone_block_footer {
    width: 100%;
    max-width: 247px;
    display: block;

    .tel {
        width: 100%;
        max-width: 178px;

        a {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #FFFFFF;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }

    .btn_block {
        width: 100%;
        max-width: 125px;
        margin-top: 10px;

        a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: $gold;
        }

        a:hover {
            color: #FFFFFF;
        }

    }

    .email {
        width: 100%;
        margin-top: 10px;

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #FFFFFF;
            text-align: right;
            display: block;
            width: 100%;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }
}