/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.header_desc {
    width: 100%;
    background: $black;
    min-height: 100px;

    .main_block {
        display: flex;
        justify-content: space-between;
    }

    .logo_block {
        width: 100%;
        max-width: 77px;
        align-self: center;
        margin-right: 66px;

        img {
            width: 100%;
            max-width: 77px;
        }
    }

    .menu_block {
        align-self: center;
        margin-right: 66px;
        width: 100%;
        max-width: 670px;

        ul {
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            margin-right: 28px;
        }

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }


}

.phone_block_desc {
    width: 100%;
    max-width: 325px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;

    .tel {
        width: 100%;
        max-width: 178px;
        margin-top: 25px;

        a {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #FFFFFF;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }

    .btn_block {
        width: 100%;
        max-width: 125px;
        margin-top: 25px;

        a {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-decoration-line: underline;
            color: $gold;
        }

        a:hover {
            color: #FFFFFF;
        }

    }

    .email {
        width: 100%;

        a {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            font-feature-settings: 'pnum'on, 'lnum'on;
            color: #FFFFFF;
            text-align: right;
            display: block;
            width: 100%;
            text-decoration: none;
        }

        a:hover {
            color: $gold;
        }
    }


}

.header_mobile {
    display: none;
    min-height: 100px;
    background: $black;
}

#burger_button {
    display: block;
    align-self: center;
    width: 47px;
    height: 43px;
    padding: 10.2px 7.65px;

    .line {
        height: 3.5px;
        width: 35.7px;
        background: #ccc;
        border-radius: 10px;
        margin-bottom: 7.65px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@import 'side';

@media screen and (max-width:1200px) {
    .header_desc {
        display: none;
    }

    .header_mobile {
        display: block;
        width: 100%;

        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);

        .header_block {
            display: flex;
            justify-content: space-between;
            min-height: 100px;
        }

        .burger_block {
            display: flex;
        }

        .logo_block {
            display: flex;
            align-self: center;
        }


    }
}