/*--------------------------------------------------------------
# portfolio-page
--------------------------------------------------------------*/

.portfolio_second {

    .controls {
        display: flex;
        flex-direction: column;
    }

    .swiper-slide {
        display: flex;
        width: 20%;
        padding: 35px;
        height: 134px;
        background: rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        // backdrop-filter: blur(10px);
        cursor: pointer;

        &.active-control {
            background: linear-gradient(315deg, #8E2486 0%, #D23A63 33.33%, #EB5145 68.75%, #F16A26 100%);
            filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.5));
            border: none;
        }
    }

    .control {
        display: flex;
        width: 100%;
        height: 100%;
        align-self: center;

        p {
            width: 100%;
            align-self: center;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
        }


    }

    .page {
        display: none;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        color: #FFFFFF;
        margin-top: 0;

        &.active-page {
            display: block;
            margin-top: 5px;
            z-index: 2;
            opacity: 1;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }

        h4 {
            margin: 0 0 10px;
        }
    }

    .inner_page {
        position: relative;

        .title_block {
            width: 100%;
            max-width: 696px;

            h2 {
                text-align: left;
            }
        }

        .block {
            display: flex;
            justify-content: space-between;
        }

        .col {
            width: 30%;
        }
    }

    .question_block {
        position: absolute;
        right: 0;
        top: -50px;
        width: 161px;
        height: 215px;
    }

    .arrow_block {
        display: none;
    }

    .swiper-button-prev-arrow {
        position: relative;
        content: '';
        left: -20px;
        width: 35px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/img/about/Arrow_tab_prev.svg") !important;
        z-index: 2;
        cursor: pointer;
    }

    .swiper-button-next-arrow {
        position: relative;
        content: '';
        right: -20px;
        width: 35px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("/img/about/Arrow_tab_next.svg") !important;
        z-index: 2;
        cursor: pointer;
    }

    .gallery {
        margin: 0 auto 116px;
        width: 100%;
        max-width: 1900px;
        --scrollbar-width: 0px;
        --item-spacing: 10px;
        --column-count: 2;
        --column-height: 600px;
        --layout-indent: 10px;
        --window-width: calc(100% - var(--scrollbar-width));
        --row-width: calc(var(--window-width) - var(--layout-indent)*2);
        --column-width: calc(var(--row-width)*0.65 - var(--item-spacing)*(var(--column-count) - 1)*0.65);

        &_row {
            display: flex;
            flex-wrap: wrap;
            margin-left: 20px;
        }

        &_block {
            position: relative;
            display: block;
            overflow: hidden;
            width: var(--column-width);
            height: var(--column-height);
            margin-right: var(--item-spacing);
            margin-bottom: var(--item-spacing);
            border-radius: 10px;

            img {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
                width: 100%;
                border-radius: 10px;
                transition: .3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &_block:nth-of-type(4n+2),
        &_block:nth-of-type(4n+3) {
            --column-width: calc(var(--row-width)*0.35 - var(--item-spacing)*(var(--column-count) - 1)*0.35);
        }

        &_block:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    a.btn {
        margin: 0 auto;
    }
}

@media screen and (max-width:1640px) {
    .portfolio_second {

        .gallery {
            --column-height: 450px;
            margin: 0 auto 76px;
        }
    }
}

@media screen and (max-width:1500px) {
    .portfolio_second {

        .gallery {
            --column-height: 400px;
        }
    }
}

@media screen and (max-width:1368px) {
    .portfolio_second {
        .control {
            padding: 15px;

            p {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:1200px) {

    .portfolio_second {
        .gallery {
            --column-height: calc(100vw / 3);
        }
    }
}

@media screen and (max-width:1024px) {
    .portfolio_second {
        .control {
            width: 100%;
        }

        .swiper-slide {
            width: 33.3%;
        }

        .arrow_block {
            display: flex;
            margin: 20px auto;
            justify-content: center;
        }
    }
}

@media screen and (max-width:768px) {
    .portfolio_second {

        .gallery {
            --column-height: calc(100vw / 2.5);

            &_block {
                position: relative;
                display: block;
                overflow: hidden;
                width: calc(var(--row-width)*1 *(var(--column-count) - 1)*1);
                height: var(--column-height);
                margin-right: var(--item-spacing);
                margin-bottom: var(--item-spacing);
                border-radius: 10px;

                img {
                    position: absolute;
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                    border-radius: 10px;
                    transition: .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            &_block:nth-of-type(4n+2),
            &_block:nth-of-type(4n+3) {
                width: calc(var(--row-width)*0.5 - var(--item-spacing)*(var(--column-count) - 1)*0.5);
                margin-right: var(--item-spacing);
            }

            &_block:nth-of-type(2n) {
                margin-right: var(--item-spacing);
            }
        }

        .inner_page {

            .title_block {
                max-width: 70vw;
            }

            .block {
                flex-direction: column;
            }

            .col {
                width: 100%;
            }
        }

        .question_block {
            width: 68.89px;
            height: 92px;
            top: 30px;
            right: 15vw;
        }

        .swiper-slide {
            width: 300px;
        }
    }
}

@media screen and (max-width:586px) {
    .portfolio_second {
        .swiper-slide {
            width: 240px;
            padding: 20px;
            height: 80px;
        }

        .control {
            p {
                font-size: 14px;
            }
        }

        .page.active-page {
            margin-top: 5px;
        }

        .question_block {
            top: 60px;
            right: 7vw;
        }
    }
}