$raleway: 'Raleway',
sans-serif;
$Poiret-one: 'Poiret One',
cursive;
$gold: #DCC29D;
$white: #F3EFEC;
$black: #2C2C2C;
$grey: #5E5E5E;

body {
    position: relative;
    // overflow: hidden;
    font-size: 18px;
    line-height: 150%;
    color: $black;
    font-family: $raleway;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

.site {
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-family: $Poiret-one;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 120%;
}

h2 {
    font-family: $Poiret-one;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 120%;
}

h3 {
    font-family: $Poiret-one;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
}

h4 {
    font-family: $Poiret-one;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
}

h5 {
    font-family: $Poiret-one;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
}

img {
    max-width: 100%;
}

/* Скрывает ненужные блоки */
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-bg {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: calc(-1 * (100vw / 2));
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section {
    position: relative;
    margin-top: 150px;
}

.btn {
    width: 100%;
    max-width: 300px;
    height: 70px;
    background: $gold;
    border-radius: 5px 35px;
    font-family: $raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.site {
    padding-top: 107px;
}

main {
    position: relative;

    .section-bg_top {
        width: 100vw;
        height: 1109px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: calc(-1 * (100vw / 2));
        z-index: -1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/img/main_page_top.svg')
    }

    .section-bg_bottom {
        width: 100vw;
        height: 2378px;
        position: absolute;
        bottom: 312px;
        left: 50%;
        margin-left: calc(-1 * (100vw / 2));
        z-index: -1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/img/main_page_bottom.svg')
    }

    &.single-product-page {
        .section-bg_bottom {
            bottom: -50%;
            background-position: top center;
        }
    }
}

@import 'header';
@import 'footer';
@import 'main_page';
@import 'catalog';
@import 'new_products';
@import 'single_product';
@import 'blog';
@import 'contacts';

.video {
    .section-bg {
        background-image: url('/img/video_bg.jpg');
    }

    .main_block {
        width: 100%;
        max-width: 219px;
        margin: 0 auto;
        padding: 160px 0;
    }
}

.text_content {
    margin-top: 0;
    padding-top: 80px;

    .wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;

        .col {
            width: 100%;

            &:first-of-type {
                max-width: 600px;
            }

            &:last-of-type {
                max-width: 514px;
            }
        }
    }

    h1,
    h2 {
        margin: 0 0 30px;
        font-size: 50px;
        line-height: 120%;
    }

    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #2C2C2C;
        margin: 0 0 15px;
    }
}