
//typography
$font-family-base: 'Archivo', sans-serif
$font-family-medium: 'Archivo', sans-serif
$font-family-bold: 'Archivo', sans-serif
$font-family-secondary: 'Comforter', cursive

$default-font-size: 20px
$default-line-height: 1.4
$default-font-weight: 400
$default-text-color: rgba(8, 64, 116, 1)

$default-transition-duration: 0.3s
$default-transition-function: ease-out
$default-transition: 0.3s ease-out

//breakpoints
$breakpoint-1920: 1920px
$breakpoint-xxl: 1800px
$breakpoint-1500: 1500px
$breakpoint-xl: 1441px
$breakpoint-1200: 1200px
$breakpoint-lg: 992px
$breakpoint-md: 769px
$breakpoint-sm: 576px
$breakpoint-xs: 576px

$grid-gutter: 30px

//colors
$color-black: #000
$color-primary: #E5E5E5
$color-blue: rgba(8, 64, 116, 1)
$shadow: 0 .5rem 1rem rgba(0,0,0,.05)
