
//typography
$default-font-size: 18px
$default-line-height: 1.2
$font-family-base: "ProximaNova"
$font-family-title: "ProximaNova"
$default-text-color: #fff

$default-transition-duration: 0.3s
$default-transition-function: ease-out
$default-transition: 0.3s ease-out

//breakpoints
$breakpoint-1920: 1920px
$breakpoint-xxl: 1800px
$breakpoint-xl: 1501px
$breakpoint-xm: 1439px
$breakpoint-lg: 992px
$breakpoint-md: 769px
$breakpoint-sm: 576px

$grid-gutter: 15px

//colors
$color-primary: #fff
$color-gold: rgba(224, 198, 107, 1)
$color-red: rgba(255, 79, 79, 1)
$color-black: #2A2D2C
$color-greyblack: #414244
$color-greyblack2: #3A3C3B
$gold-gradient: linear-gradient(90deg, #E0C76D 0%, #CF8A23 100%)
$black-gradient: linear-gradient(124.51deg, #242528 34.85%, rgba(182, 182, 182, 0.26) 107.73%)
