.footer
    position: relative
    &_top_block
        display: flex
        justify-content: space-between
        padding-top: 100px
        padding-bottom: 71px
    .section-bg
        background-color: #E3DDD3
    .logo_block
        width: 125px
    .menu_block
        width: 100%
        max-width: 595px
        .text_block
            color: rgba(0, 0, 0, 0.5)
            font-family: $font-family-title
        .socials_block
            display: flex
            margin-top: 38px
            li
                max-width: 38px
                margin-right: 8px
                transition: .15s
                &:hover
                    transition: .15s
                    transform: translate(0, 4px)
        .footer_block
            display: flex
            justify-content: space-between
            font-family: $font-family-title
            margin-top: 25px
            padding-bottom: 32px
            border-bottom: 1px solid #B69970
            .col
                width: 60%

                &:last-of-type
                    width: 30%
                    display: flex
            .phone_block
                position: relative
                padding-left: 27px
                display: flex
                &::before
                    position: absolute
                    content: ''
                    width: 16px
                    height: 16px
                    background-image: url('../assets/images/icon/phone_icon.svg')
                    background-size: contain
                    background-repeat: no-repeat
                    background-position: center
                    left: 0
                    top: calc( 50% - 8px )
                a
                    color: $color-blue
                    font-weight: 700
                    transition: 0.4s
                    &:hover
                        color: $color-gold
                span
                    color: $color-blue
                    font-weight: 700
                    margin-left: 5px
                    margin-right: 5px
            .email_block
                position: relative
                padding-left: 27px
                &::before
                    position: absolute
                    content: ''
                    width: 16px
                    height: 12px
                    background-image: url('../assets/images/icon/email_icon.svg')
                    background-size: contain
                    background-repeat: no-repeat
                    background-position: center
                    left: 0
                    top: calc( 50% - 6px )
                a
                    color: $color-blue
                    font-weight: 700
                    transition: 0.4s
                    &:hover
                        color: $color-gold
            .socials_block
                margin-top: 0
                align-self: end
        .menu_block_inner
            margin-top: 47px
            display: flex
            justify-content: space-between
            .menu_col
                width: max-content
                max-width: 230px
            h3
                margin-bottom: 6px
                color: $color-blue
            li
                a
                    color: #000
                    font-size: 16px
                    transition: 0.4s
                    &:hover
                        color: $color-gold
    .map_block
        width: 100%
        max-width: 535px
        position: relative
        .map_content
            display: flex
            flex-direction: column
            position: absolute
            width: 202px
            height: 202px
            left: 30px
            bottom: -51px
            background-color: $color-blue
            padding: 27px
            border-radius: 50%
            img
                max-width: 50px
                align-self: center
                margin-bottom: 13px
            p
                font-family: $font-family-title
                text-align: center

    &_bottom_block
        position: relative
        display: flex
        justify-content: space-between
        padding: 29px 0
        .section-bg
            background-color: #fff
        .copyright
            p,
            a
                color: #000
                transition: 0.4s
            a:hover
                color: $color-gold
        .developer
            max-width: 82px
    &::before
        position: absolute
        content: ''
        width: 100%
        height: 142px
        left: 0
        top: -121px
        background-image: url('../assets/images/lines/footer_bg_top.svg')
        background-size: cover
        background-repeat: no-repeat
        background-position: center
