@mixin breakpoint-sm {
    @media (max-width: 586px) {
        @content;
    }
}

@mixin breakpoint-md {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin breakpoint-lg {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin small-desktop-and-up {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin tablet-portrait-to-tablet-landscape {
    @media (min-width: 767px) and (max-width: 1023px) {
        @content;
    }
}

@mixin tablet-portrait-to-laptop {
    @media (min-width: 767px) and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet-landscape-to-laptop {
    @media (min-width: 1024px) and (max-width: 1200px) {
        @content;
    }
}

@mixin breakpoint-xl {
    @media (max-width: 1200px) {
        @content;
    }
}


@mixin from-tablet-portrait {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin from-tablet-landscape {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop-md {
    @media (max-width: 1500px) {
        @content;
    }
}

@mixin desktop-xxl {
    @media (max-width: 1640px) {
        @content;
    }
}

@mixin desktop-xxxl {
    @media (max-width: 1919px) {
        @content;
    }
}


// used mainly for hover effects
@mixin anything-above-ipad-landscape {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Pass in any number of transitions


@mixin centerIt($top:50%, $tTop: -50%, $left: 50%, $tLeft: -50%, $pos: absolute, $threedee: 0, $z: 0) {
    position: $pos;
    top: $top;
    left: $left;

    @if $threedee==0 {
        -webkit-transform: translate($tLeft, $tTop);
        -moz-transform: translate($tLeft, $tTop);
        -ms-transform: translate($tLeft, $tTop);
        transform: translate($tLeft, $tTop);
    }

    @else {
        -webkit-transform: translate3d($tLeft, $tTop, $z);
        -moz-transform: translate3d($tLeft, $tTop, $z);
        -ms-transform: translate3d($tLeft, $tTop, $z);
        transform: translate3d($tLeft, $tTop, $z);
    }
}

@mixin backgroundFill($vpos: center, $size: cover) {
    background-size: $size;
    background-position: center $vpos;
    background-repeat: no-repeat;
}

@mixin hover {
    @media (hover:hover) {
        &:hover {
            @content;
        }
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}