/*** colours ***/
$color-white: #fff;
$color-green: #01ABAB;
$color-grey: #C4C4C4;
$color-black: #3F3B3A;
$color-purple: #66398E;
$color-dark-grey: #708088;
$color-dark-green: #7DBAC8;
$color-light-grey: #E5E5E5;

/*** fonts ***/
$default-font-size: 20px;
$default-sc-lg-font-size: 16px;
$default-sc-md-font-size: 14px;
// $body-font: 'Gotham Pro',
// sans-serif;
$body-font: 'gotham_proregular';
$font-light: 'gotham_prolight';
$heading-font: 'gotham_proregular';
$heading-font-alt: 'Gotham Pro';

/*** other ***/
$transition: all 0.3s linear;


/*** breakpoints ***/
$breakpoint-mobile: 767px;
$breakpoint-desktop: 1023px;