.footer {
    background-color: $color-purple;

    .main_block {
        padding-top: 54px;
        padding-bottom: 38px;
    }

    &_top {
        display: flex;
        justify-content: center;

        @include breakpoint-lg {
            flex-direction: column;
        }
    }

    &_logo {
        width: 168.51px;
        height: 49.18px;
        align-self: center;
    }

    .liks_block {
        display: flex;
        margin-left: 25px;
        align-self: flex-end;

        @include breakpoint-lg {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
        }

        a {
            display: flex;
            height: max-content;
            width: max-content;
            margin-right: 52px;

            @include breakpoint-lg {
                margin-right: 24px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            img {
                align-self: center;
            }
        }
    }

    &_menu {
        margin-top: 31px;

        ul {
            display: flex;
            justify-content: center;

            @include breakpoint-lg {
                display: block;
                padding-left: 0;
            }
        }

        li {
            position: relative;
            list-style: none;
            margin-right: 50px;

            @include breakpoint-lg {
                margin-right: 0;
                text-align: center;
            }

            &:last-of-type {
                margin-right: 0;
            }

            &:first-of-type {
                &::before {
                    display: none;
                }
            }

            &::before {
                content: '|';
                position: absolute;
                left: -25px;
                color: $color-white;

                @include breakpoint-lg {
                    display: none;
                }
            }
        }

        a {
            color: $color-white;
        }
    }

    .copyright_block {
        p {
            text-align: center;
            color: rgba(255, 255, 255, 0.8);
            margin-bottom: 0;
        }

        a {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}