.header {
    position: absolute;
    top: 0;
    width: 100%;

    &.header-page {
        .header_row {
            .menu_button {
                top: 421px;

                @include desktop-xxl {
                    top: 352px;
                    right: 53px;
                }

                @include desktop-md {
                    top: 300px;
                }

                @include breakpoint-xl {
                    top: 150px;
                    height: 46px;
                    width: 16px;
                }

                @include breakpoint-lg {
                    top: 150px;
                    right: 40px;
                }
            }
        }
    }

    &_row {
        position: relative;
        width: 100%;

        .logo_block {
            position: relative;
            width: 100%;
            max-width: 212.43px;
            margin: 51px auto 0;
            z-index: 1;
        }

        .menu_button {
            display: flex;
            position: absolute;
            justify-content: space-between;
            top: 502px;
            right: 63px;
            height: 56px;
            width: 20px;
            z-index: 1;
            cursor: pointer;

            @include desktop-xxl {
                top: 402px;
                right: 53px;
            }

            @include desktop-md {
                top: 300px;
            }

            @include breakpoint-xl {
                top: 150px;
                height: 46px;
                width: 16px;
            }

            @include breakpoint-lg {
                top: 200px;
                right: 40px;
            }

            span {
                display: block;
                height: 100%;
                width: 6px;
                background-color: $color-purple;

                @include breakpoint-xl {
                    width: 4px;
                }
            }
        }
    }
}