.button
    display: inline-block
    position: relative
    z-index: 2
    appearance: none
    min-width: 160px
    border-radius: 10px
    box-sizing: border-box
    transition: 0.3s
    background: $gold-gradient
    font-style: normal
    font-weight: 700
    font-size: 14px
    line-height: 120%
    padding: 15px 20px
    text-align: center
    color: $color-primary
    +min-screen($breakpoint-xl)
        font-size: 18px
    +max-screen($breakpoint-xl)
    .content-block &
        color: $color-primary
        font-weight: 700
    &:hover
        background: darken($color-gold, 20%)
        color: $color-primary
        transition: 0.3s left
    &--black
        background: $color-greyblack2
        color: $color-primary
        .content-block &
            color: $color-primary
            font-weight: 700
        &:hover
            background: $color-black
            color: $color-primary
            transition: 0.3s left
