.wpcf7-submit
    background: $color-light-blue
    color: $color-primary
    transition: .3s
    font-style: normal
    font-weight: 500
    font-size: 17px
    line-height: 130.5%
    padding: 21px 68px 21px 32px
    height: 64px
    border: none
    text-align: left
    background-image: url('../assets/images/icons/Arrow-right.svg')
    background-position: bottom 24px right 23px
    background-size: 16px
    background-repeat: no-repeat
    cursor: pointer
    box-sizing: border-box
    +max-screen($breakpoint-1500)
        height: 54px
        padding: 15px 58px 15px 32px
        font-size: 15px
        background-position: bottom 20px right 23px
    +max-screen($breakpoint-sm)
        height: 44px
        padding: 10px 58px 10px 32px
        background-position: bottom 15px right 23px
    &:hover
        background: #fff
        background-image: url('../assets/images/icons/Arrow-right.svg')
        background-position: bottom 24px right 23px
        background-size: 16px
        background-repeat: no-repeat
        +max-screen($breakpoint-1500)
            background-position: bottom 20px right 23px
        +max-screen($breakpoint-sm)
            background-position: bottom 15px right 23px
