// Лого на главной

.logo-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ogin-logo_text {
    font-family: "Uni Neue";
    font-weight: 800;
    color: #222222;
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 24px;
    line-height: 1.5rem;
    text-transform: uppercase;
    display: block;
    margin: 0 0 5px 0;
    letter-spacing: -0.5px;
    letter-spacing: -0.03125rem;
}

.login-logo_text_down {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    color: #818181;
    text-transform: uppercase;
    font-family: "Uni Neue";
    font-weight: 700;
    letter-spacing: 3.5px;
    letter-spacing: 0.21875rem;
}

// лого в меню
// меню

.logo_main img {
    margin: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
}

.down_menu {
    width: 100%;
    position: absolute;
    bottom: 0;

    .down_menu-item:first-child {
        margin: 0 auto;
    }

    .down_menu-item {
        padding: 0 0.625rem;

        h4 {
            text-align: center;
        }

        a {
            text-decoration: none;
        }
    }
}

// Страница подключения

.tinkoff_inv {
    padding: 0.75rem 1.25rem;
    p {
        margin-top: 0;
        margin-bottom: 0.5rem !important;
    }
    a {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.token {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.75rem 1.25rem;

    .token_col {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        label {
            display: inline-block;
            margin: 0.5rem 0;
            margin-right: 0.5rem;
        }

        .form-control {
            display: block;
            width: 77%;
            margin-top: 0;
            margin-right: 0;
        }

        .check {
            display: block;
            margin-right: 0.5rem;
            border: none;
            background: none;
            background-image: url("/assets/images/check.svg");
            background-size: cover;
            width: 16px;
            height: 16px;
        }

        .check:hover {
            background-image: url("/assets/images/check_clicked.svg");
        }
    }

    .token_inner {
        margin-top: 0.5rem;
        margin-bottom: 0;
        margin-left: 0;
        font-size: small;
    }
}

.active_trader {
    display: none !important;
}

.trader {
    padding: 0.75rem 1.25rem;
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    .card-header {
        padding: 0 !important;
        position: relative;
    }
    .trader_col {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0;
        margin-top: 0;

        p {
            margin-bottom: 1em !important;
        }

        /* Page */

        .box {
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
        }

        .more-menu {
            width: 330px;
        }

        /* More Button / Dropdown Menu */

        .more-btn,
        .more-menu-btn {
            background: none;
            border: 0 none;
            line-height: normal;
            overflow: visible;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            width: 100%;
            text-align: left;
            outline: none;
            cursor: pointer;
        }

        .more-dot {
            background-color: #aab8c2;
            margin: 0 auto;
            display: inline-block;
            width: 7px;
            height: 7px;
            margin-right: 1px;
            border-radius: 50%;
            transition: background-color 0.3s;
        }

        .more-menu {
            position: absolute;
            top: 100%;
            z-index: 900;
            float: left;
            padding: 10px 0;
            margin-top: 9px;
            background-color: #fff;
            border: 1px solid #ccd8e0;
            border-radius: 4px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
            opacity: 0;
            transform: translate(0, 15px) scale(0.95);
            transition: transform 0.1s ease-out, opacity 0.1s ease-out;
            pointer-events: none;
        }

        .more-menu-caret {
            position: absolute;
            top: -10px;
            left: 12px;
            width: 18px;
            height: 10px;
            float: left;
            overflow: hidden;
        }

        .more-menu-caret-outer,
        .more-menu-caret-inner {
            position: absolute;
            display: inline-block;
            margin-left: -1px;
            font-size: 0;
            line-height: 1;
        }

        .more-menu-caret-outer {
            border-bottom: 10px solid #c1d0da;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            height: auto;
            left: 0;
            top: 0;
            width: auto;
        }

        .more-menu-caret-inner {
            top: 1px;
            left: 1px;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #fff;
        }

        .more-menu-items {
            margin: 0;
            list-style: none;
            padding: 0;
        }

        .more-menu-item {
            display: block;
        }

        .more-menu-btn {
            min-width: 100%;
            color: #66757f;
            cursor: pointer;
            display: block;
            font-size: 13px;
            line-height: 18px;
            padding: 5px 20px;
            position: relative;
            white-space: nowrap;
        }

        .more-menu-item:hover {
            background-color: #489fe5;
        }

        .more-menu-item:hover .more-menu-btn {
            color: #fff;
        }

        .more-btn:hover .more-dot,
        .show-more-menu .more-dot {
            background-color: #516471;
        }

        .show-more-menu .more-menu {
            opacity: 1;
            transform: translate(0, 0) scale(1);
            pointer-events: auto;
        }

        .more-menu .more-menu-items {
            margin-bottom: 0 !important;
        }
    }

    .trader_inner {
        margin: 10px 0;

        .trader_inner_text {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.text-primary_inner {
    margin-bottom: 0 !important;
    margin-top: 4px !important;
}

.text-primary_inner:last-child {
    margin-bottom: 0;
    text-align: center;
    font-size: smaller;
}

// Рабочая область

.main-page_inner_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pay {
    display: block;
    margin: 20px auto;

    .pay-button {
        display: block !important;
        width: 100% !important;
        margin: 0 auto;
    }
}

.b-trader {
    display: block;
    width: 100%;
    height: 185px !important;
    padding: 13px;
    position: relative;
}

.b-trader > div {
    position: relative;
    display: block;
    height: 158px;
    padding: 18px 0 0 22px;
    border-radius: 10px;
}

.b-trader > div h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    line-height: 1.5rem;
    font-family: "SFUIText";
    font-weight: 300;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeSpeed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: 5;
}

.b-trader > div p {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    font-family: "SFUIText";
    color: #fff;
    margin: 0 0 8px 0;
    line-height: 17px;
    line-height: 1.0625rem;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeSpeed;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    z-index: 5;
}

.b-trader > div p strong {
    font-family: "SFUIText";
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    display: block;
    line-height: 20px;
    line-height: 1.25rem;
}

.b-trader > div p:last-child {
    margin-bottom: 0;
}

.b-trader > div:before {
    content: "";
    width: 139px;
    height: 136px;
    background: url("../images/user.png") no-repeat;
    position: absolute;
    right: 17px;
    bottom: 0;
    z-index: 2;
    transition: all 200ms ease;
}

.b-trader > div:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 10px;
    transition: all 200ms ease;
}

// .b-trader > div:after {
//     background: linear-gradient(45deg, #3783b5 0%, #25364a 100%);
// }

.b-trader_inner {
    background: linear-gradient(45deg, #3783b5 0%, #25364a 100%);
}

.media .media-body > a {
    font-size: 0.79375rem !important;
}

.token_col .check {
    display: block !important;
    margin: 10px 3px !important;
}

// Button loader

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;
    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}
.has-spinner.active {
    cursor: progress;
}
.has-spinner.active .spinner {
    opacity: 1;
    width: auto;
}

.has-spinner.btn.active .spinner {
    min-width: 20px;
}

.table-responsive .table td,
.table-responsive .table th {
    padding: 0.25rem !important;
    vertical-align: middle;
    border-top: 1px solid #e2e8ee;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
    color: black;
}

/* Add a color to the delete button */
.deletebtn {
    background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
    padding: 16px;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}
