$black: #000000;
$white: #ffffff;
$lightBlack: #232323;
$textGrey: #B6B6B6;
$lightGrey: #C4C4C4;

$action: #E6B049;
$grey: #F7F7F7;


@import url('https://fonts.googleapis.com/css?family=Cormorant:400,600|Noto+Sans+KR:300,400,500|Open+Sans&display=swap');

$cormorant: 'Cormorant';
$openSans: 'Open Sans';
$notoSans: 'Noto Sans KR';

