.accordion{
    &Wrapper {
        padding-top: 65px;
        @include breakpoint-lg{
            padding-top: 52px;
        }
        @include breakpoint-md{
            padding-top: 42px;
        }
    }
    &__item{
        border-bottom: 1px solid $color-green;
        &:first-child{
            border-top: 1px solid $color-green;
            .accordion__itemTitle {
                padding-top: 14px;
            }
        }
        &Title{
            cursor: pointer;
            color: $color-green;
            padding: 15px 0;
            font-weight: 500;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;
            padding-right: 48px;
            @include breakpoint-md{
                padding-right: 34px;
            }
            &::after {
                content: "";
                background-image: url('../img/accordion_arrow.svg');
                width: 18px;
                height: 8px;
                @include backgroundFill;
                position: absolute;
                top: 50%;
                right: 24px;
                transition: $transition;
                transform: translateY(-50%);
                background-size: contain;
                @include breakpoint-md{
                    right: 10px;
                }
            }
        }
        &Content{
            &Wrapper{
                padding: 15px 0 30px;
                display: none;
                @include breakpoint-md{
                    padding: 9px 0 24px;
                }
                @include breakpoint-md{
                    padding: 3px 0 18px;
                }
            }
        }
        &.opened{
            .accordion__itemTitle::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    &__button{
        margin-top: 60px;
        @include breakpoint-lg{
            margin-top: 36px;
        }
        @include breakpoint-md{
            margin-top: 28px;
        }
    }
}