.separator {
    margin-top: 38px;
    margin-bottom: 62px;
    width: 155px;
    @include breakpoint-lg{
        margin-top: 28px;
        margin-bottom: 42px;
    }
}
.formBlock{
    padding-bottom: 90px;
    position: relative;
    margin-bottom: 74px;
    @include breakpoint-md{
        padding-bottom: 48px;
        margin-bottom: 42px;
    }
    &::after{
        content: "";
        background-color: $color-green;
        height: 3px;
        width: 155px;
        left: 0;
        bottom: 0;
        position: absolute;
    }
    &__wrapper {
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .input-wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .input-title {
            font-size: 14px;
            line-height: 2.214;
            font-weight: 500;
        }
        input:not(input[type="submit"]),
        select,
        textarea {
            margin-top: 3px;
            font-weight: 500;
            border: 1px solid #BCBCBC;
            border-radius: 3px;
            font-size: 18px;
            line-height: 1.38888889;
            padding-top: 21.5px;
            padding-bottom: 21.5px;
            padding-left: 26px;
            padding-right: 62px;
            margin-bottom: 30px;
            color: $color-black;
            outline: none;
            &::placeholder{
                color: $color-black;
            }
            @include breakpoint-md {
                font-size: 16px;
                padding: 12px 44px 12px 12px;
                margin-bottom: 18px; 
            }
        }
        select {
            -moz-appearance:none;
            -webkit-appearance:none;
            appearance:none;
            position: relative;
            background-image: url('../img/select_form_arrow.svg');
            background-size: 20px 9px;
            background-position: top 50% right 35px;
            background-repeat: no-repeat;
            @include breakpoint-md{
                background-position: top 50% right 12px;
            }
        }
        textarea{
            margin-bottom: 35px;
            height: 220px;
            @include breakpoint-md {
                height: 120px;
            }
        }
    }
}