.testimonials{
    position: relative;
    z-index: 2;
    padding-top: 134px;
    @include breakpoint-md {
        padding-top: 32px;
    }
    @include breakpoint-lg{
        padding-top: 112px;
    }
    @include breakpoint-md{
        padding-top: 74px;
    }
    &::after{
        content: "";
        background-color: $color-green;
        height: 3px;
        width: 155px;
        left: 0;
        top: 0;
        position: absolute;
    }
    &::before{
        content: "";
        background-image: url('../img/testimonials_background_icon.svg');
        position: absolute;
        left: calc( (-100vw + 1500px)/2 - 30px);
        top: calc( 3.6% + 74px );
        z-index: -1;
        width: 52.2%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top left;
        @include desktop-md{
            left: -30px;
        }
        @include breakpoint-lg{
            width: 30%;
            top: calc( 3.6% + 52px );
        }
        @include breakpoint-md{
            width: 52.2%;
            top: calc( 3.6% + 42px );
        }
    }
    .slick-slide{ 
        cursor: pointer;
    }
    &__title {
        color: $color-purple;
        max-width: 780px;
        margin-bottom: -31px;
        font-weight: 400;
        @include desktop-md {
            margin-bottom: 24px;
        }
        @include breakpoint-lg {
            max-width: 100%;
        }
    }
    &__list {
        margin-left: 173px;
        overflow: hidden;
        margin-right: -4%;
        @include desktop-md {
            margin-left: 0;
        }
    }
    &__itemText {
        font-size: 35px;
        color: $color-grey;
        line-height: 1.257;
        margin-bottom: 44px;
        @include breakpoint-lg{
            font-size: 32px;
        }
        @include breakpoint-md{
            font-size: 28px;
            margin-bottom: 24px;
        }
    }
    &__itemSubtext {
        color: $color-purple;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.136;
        @include breakpoint-lg{
            font-size: 20px;
        }
        @include breakpoint-md{
            font-size: 18px;
        }
    }
    .slick-track {
        display: flex;
    }
    .slick-list {
        max-width: 100%;
    }
    .slick-dots {
        padding-left: 0;
        display: flex;
        list-style-type: none;
        margin-top: 45px;
        margin-bottom: 50px;
        @include breakpoint-lg{
            margin-top: 35px;
            margin-bottom: 40px;
        }
        @include breakpoint-md{
            margin-top: 28px;
            margin-bottom: 32px;
        }
        li {
            display: flex;
            align-items: center;
        }
        button {
            font-size: 0;
            background: $color-grey;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            border: 0;
            padding: 0;
            margin-right: 11px;
        }
        li.slick-active button {
            width: 12px;
            height: 12px;
            background-color: $color-purple;
        }
    }
}