.header
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 3
    &_main_block
        display: flex
        justify-content: space-between
        position: relative
        height: 70px
        +min-screen($breakpoint-xl)
            height: 100px
    &__logo
        width: 100%
        max-width: 180px
        align-self: center
        +max-screen($breakpoint-xl)
            max-width: 140px

    &_inner_block
        display: flex
        justify-content: space-between
        align-self: center
    &__menu
        display: flex
        +max-screen(1200px)
            display: none
        nav
            display: flex
            align-self: center
    &__button
        margin-left: 56px
        +max-screen(1200px)
            display: none
    &__menu_list
        display: flex
        align-self: center
        .menu-item__icon
            display: block
            position: absolute
            content: ""
            width: 8px
            height: 4px
            top: calc( 50% - 2px)
            right: -16px
            transition: .3s
            background-image: url('../assets/images/arrow_down.svg')
            background-size: cover
            background-repeat: no-repeat
            +min-screen($breakpoint-xl)
                width: 12px
                height: 6px
                right: -18px
                top: calc( 50% - 3px)
        li
            position: relative
            margin-right: 40px
            +max-screen($breakpoint-xl)
                margin-right: 36px
            +max-screen($breakpoint-xm)
                margin-right: 26px
            &:last-of-type
                margin-right: 0
            &.current-menu-item
                a
                    color: $color-gold
        a
            font-size: 18px
            +max-screen($breakpoint-xl)
                font-size: 14px
            &:hover
                color: $color-gold
                transition: $default-transition
#toggle
    position: absolute
    right: 0
    top: auto
    display: none
    width: 28px
    height: 30px
    margin: 0 auto
    align-self: center
    background: none
    border: none
    z-index: 2

    span:after,
    span:before
        content: ""
        position: absolute
        left: 0
        top: -9px

    span:after
        top: 9px

    span
        position: relative
        display: block
    span,

    span:after,

    span:before
        width: 100%
        height: 1px
        background-color: $color-primary
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px

    &.on span
        background-color: transparent

    &.on span:before
        transform: rotate(45deg) translate(5px, 5px)

    &.on span:after
        transform: rotate(-45deg) translate(7px, -8px)

    &.on + #menu
        opacity: 1
        visibility: visible
    +max-screen(1200px)
        display: block
#wpadminbar
    +max-screen(600px)
        position: fixed
.admin-bar
    .header_block
        top: 32px
        +max-screen($breakpoint-md)
            top: 46px
