.header
    position: absolute
    top: 0
    left: 0
    width: 100%
    z-index: 3
    background: rgba(255, 255, 249,0.7)
    &_main_block
        display: flex
        justify-content: space-between
        position: relative
        height: 160px
        +max-screen($breakpoint-xxl)
            height: 120px
    &__logo
        width: 100%
        max-width: 193px
        align-self: center
        +max-screen($breakpoint-xxl)
            max-width: 140px
    &__menu
        ul
            display: flex
        li
            font-size: 14px
            position: relative
            margin-right: 40px
            &:last-of-type
                margin-right: 0
            &::before
                position: absolute
                content: ''
                width: 1px
                height: 35px
                top: calc( 50% - 17.5px )
                right: -19px
                background-color: #1D2D51
            &.active
                border-bottom: 1px solid $color-blue
                a
                    color: $color-blue
        a
            font-size: 14px
            font-weight: bold
            font-family: $font-family-title
            transition: $default-transition
            &:hover
                color: $color-blue
    &_inner_block
        display: flex
        align-self: center
    &__search
        display: flex
        align-self: center
        margin-left: 40px
        button
            align-self: center
            background: none
            border: none
            &:hover
                .cls-1
                    fill: $color-blue
        .cls-1
            transition: $default-transition
            fill: #12213a
        svg
            width: 22px
            height: 22px
#wpadminbar
    +max-screen(600px)
        position: fixed
.admin-bar
    .header_block
        top: 32px
        +max-screen($breakpoint-md)
            top: 46px
