#header
    // box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
    // +max-screen($breakpoint-lg)
    //     box-shadow: none
.header
    &_block
        background: #FFFFFF
        width: 100%
        &.fixed_header
            position: fixed
            top: 0
            width: 100%
            z-index: 3
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
    &_inner_block
        display: flex
        justify-content: space-between
        height: 108px
        +max-screen(1500px)
            height: 80px

    .logo_block
        width: 100%
        max-width: 230px
        align-self: center
        +max-screen(1500px)
            max-width: 180px
        +max-screen(1200px)
            max-width: 150px
        img
            height: 55px
            +max-screen(1500px)
                height: auto
                width: 100%

    &_menu_block
        align-self: center
        +max-screen(1100px)
            display: none
        .menu
            display: flex

            +max-screen($breakpoint-lg)
                flex-direction: column

            li
                position: relative
                line-height: 1
                padding-top: 29px
                padding-bottom: 29px
                display: flex

                a
                    font-style: normal
                    font-weight: 400
                    font-size: 16px
                    line-height: 120%
                    position: relative
                    align-items: center
                    display: block
                    padding: 9px 25px
                    text-transform: uppercase
                    +max-screen(1500px)
                        font-size: 14px
                        padding: 6px 15px
                    +max-screen(1150px)
                        padding: 4px 10px
                    +max-screen($breakpoint-lg)
                        font-size: 18px
                        display: inline-block
                        line-height: 1.17
                        padding: 5.5px 10px
                        &::after
                            content: none
                    &:after
                        content: ''
                        position: absolute
                        width: calc( 100% - 50px )
                        transform: scaleX(0)
                        height: 1px
                        bottom: 0
                        left: 25px
                        background-color: $color-blue
                        transform-origin: bottom right
                        transition: transform 0.25s ease-out
                        z-index: 2
                        +max-screen(1500px)
                            width: calc( 100% - 30px )
                            left: 15px
                    &:hover:after
                        transform: scaleX(1)
                        transform-origin: bottom left

                &:last-child
                    margin-right: 0
                &.menu-item-has-children
                    position: relative
                    & > a
                        position: relative
                        &::before
                            content: ""
                            width: 5px
                            height: 3px
                            background: #0C6F97
                            position: absolute
                            top: calc( 50% + 1px)
                            right: 9px
                            transform: translateY(-50%)
                            clip-path: polygon(100% 0%,100% 0%,50% 100%,0% 0%)
                            transition: .3s
                            +max-screen(1500px)
                                right: 6px
                        // &::after
                        //     content: none
                    &:hover
                        .sub-menu
                            display: block
                            visibility: visible
                            opacity: 1
                    &.active
                        .sub-menu
                            display: block
                            visibility: visible
                            opacity: 1
                .sub-menu
                    position: absolute
                    background: #ffffff
                    display: none
                    min-width: 205px
                    left: -15px
                    border-radius: 3px
                    z-index: 3
                    top: calc(100% - 8px)
                    opacity: 0
                    visibility: hidden
                    transition: .2s
                    font-size: 12px
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1)
                    &::before
                        content: ""
                        width: 100%
                        height: calc( 100% - 20px )
                        position: absolute
                        top: -20px
                        left: 0
                        +max-screen(1100px)
                            position: relative
                            left: auto
                            top: auto
                            box-shadow: none
                    li
                        margin-right: 0
                        padding: 0
                        a
                            padding: 10px 20px
                            background: none
                            border-radius: 0
                            color: $color-blue
                            text-transform: none
                            &:hover
                                opacity: 0.7
                            &::after
                                display: none
            li.current-menu-item
                a
                    background: $color-blue
                    border-radius: 17px
                    position: relative
                    color: #fff
                    &::after
                        display: none
                &.menu-item-has-children
                    position: relative
                    & > a
                        position: relative
                        &::before
                            background: #fff
                        &::after
                            content: none
            li.current-menu-parent
                a
                    background: $color-blue
                    border-radius: 17px
                    position: relative
                    color: #fff
                    &::after
                        display: none
                &.menu-item-has-children
                    position: relative
                    & > a
                        position: relative
                        &::before
                            background: #fff
                        &::after
                            content: none
    &_phone_block
        width: 390px
        align-self: center
        display: flex
        +max-screen(1500px)
            width: 340px
            a:not(.button)
                font-size: 15px
        +max-screen(1100px)
            display: none
        a.button
            min-width: 244px
            +max-screen(1500px)
                min-width: 204px
        svg
            width: 16px
            height: 16px
            align-self: center
            margin-right: 10px
    .phone_block_inner
        display: flex
        width: 132px
        align-self: center
        margin-right: 16px
        +max-screen(1500px)
            width: max-content
            margin-right: 10px

#toggle
    position: absolute
    right: 30px
    top: auto
    display: none
    width: 28px
    height: 30px
    margin: 0 auto
    align-self: center
    background: none
    border: none
    z-index: 2

    span:after,
    span:before
        content: ""
        position: absolute
        left: 0
        top: -9px

    span:after
        top: 9px

    span
        position: relative
        display: block
    span,

    span:after,

    span:before
        width: 100%
        height: 5px
        background-color: $color-primary
        transition: all 0.3s
        backface-visibility: hidden
        border-radius: 2px

    &.on span
        background-color: transparent

    &.on span:before
        transform: rotate(45deg) translate(5px, 5px)

    &.on span:after
        transform: rotate(-45deg) translate(7px, -8px)

    &.on + #menu
        opacity: 1
        visibility: visible
    +max-screen(1100px)
        display: block
