.side-panel
    position: fixed
    top: 0
    right: 0
    display: block
    z-index: 10
    width: 100%
    height: 100%
    overflow: auto
    transition: .2s ease-out
    transform: translateX(100%)
    padding-left: 0
    border-top: 1px solid transparentize($default-text-color, 0.4)

    .admin-bar
        top: 32px

    &.active
        transform: translateX(0%)

    &.service
        top: 0 !important

.side-inner
    min-height: 100vh
    overflow-x: hidden
    background-color: #E9E4DC

.side_bg_img
    position: absolute
    width: 889.68px
    height: 729.13px
    left: -100px
    bottom: 0
    img
        height: 100%
.side_bg_grass
    position: absolute
    width: 191.48px
    height: 176.49px
    right: 32px
    bottom: 0
    img
        height: 100%
.side-panel-overlay
    overflow: hidden

    &.service::after
        top: 0 !important
        z-index: 2

    &.service
        .fixed-header
            .bottom_header
                opacity: 0

.side-panel-overlay:after
    content: ""
    position: fixed
    top: 70px
    left: 0
    width: 100%
    height: 100%
    background: rgba(31, 28, 28, 0.8)
    backdrop-filter: blur(20px)
    z-index: 2
.admin-bar.side-panel-overlay:after,
.admin-bar .side-panel
    top: 124px
.side_header
    position: relative
    display: flex
    justify-content: space-between
    padding: 29px 0 0
    .header__menu
        align-self: center
        margin-right: 32px
        ul
            display: flex
        li
            position: relative
            margin-right: 30px
            line-height: normal
            &::before
                position: absolute
                content: '/'
                right: -20px
                color: $color-blue
            a
                text-transform: uppercase
                font-weight: 700
                font-size: 14px
                line-height: 19px
                text-align: right
                letter-spacing: 0.05em
                color: $color-blue
                transition: .2s ease-out
                &:hover
                    color: $color-gold

            &:last-of-type
                margin-right: 0
                &::before
                    display: none
    .btn_close
        display: flex
        justify-content: space-between
        align-items: center
        align-self: center
        width: 72px
        height: 24px
        position: relative
        cursor: pointer
        margin-top: 4px
        &:hover
            span.line
                background-color: $color-gold
            .text
                color: $color-gold
        span.line:first-child
            transform: translate(-50%, -50%) rotate(45deg)

        span.line:last-child
            transform: translate(-50%, -50%) rotate(-45deg)
        button
            position: relative
            background: none
            border: none
            display: block
            width: 14px
            height: 14px

        .text
            display: block
            align-self: center
            text-transform: uppercase
            font-weight: 700
            font-size: 14px
            line-height: 19px
            text-align: right
            letter-spacing: 0.05em
            color: $color-blue
            transition: .2s ease-out
        span.line
            position: absolute
            top: 50%
            left: 50%
            display: block
            width: 14px
            height: 2px
            background-color: $color-blue
            transition: .2s ease-out
.side_menu_block
    margin-top: 109px
    max-width: 366px
    width: 100%
    margin-right: 466px
    margin-left: auto
    &.header__menu
        display: block
    nav
        margin: 0 auto
        width: 100%
    ul
        text-align: center
        display: flex
        flex-direction: column
        a
            font-weight: 400
            font-size: 35px
            line-height: 60px
            color: $color-blue
            font-family: $font-family-title
            text-transform: none
            transition: .2s ease-out
            &:hover
                color: $color-gold
        li
            padding: 0
            margin-bottom: 0
            margin-right: 0
            width: 100%
            height: auto
            line-height: 100%
            text-align: right
            &::before
                display: none
            &:last-of-type
                margin-bottom: 0
            &.active
                border-bottom: 4px solid #61091E
                a
                    font-weight: 700
                    color: $color-red
                    transition: .2s ease-out
                    &:hover
                        color: $color-gold
    .sub-menu
        margin-top: 10px
        margin-bottom: 10px
        display: none
        a
            font-weight: 400
            font-size: 14px
            line-height: 120%
        li
            padding: 0
            margin-bottom: 5px
