.call_to_action
    padding-bottom: 200px
    +max-screen($breakpoint-xl)
        padding-top: 50px
    +max-screen($breakpoint-sm)
        padding-top: 0
    .main_block
        max-width: 1320px
        margin-left: auto
        margin-right: auto
        +max-screen($breakpoint-xl)
            max-width: 85%
    &__row
        margin-top: 40px

    .action_block
        width: 100%
        min-height: 612px
        padding: 190px 96px 179px
        +max-screen($breakpoint-xl)
            min-height: 512px
            padding: 100px 66px 89px
        +max-screen(1200px)
            min-height: 412px
        +max-screen($breakpoint-sm)
            padding: 40px
    .content-block
        max-width: 386px
        a.button

    .action_title
        h3
            margin-bottom: 10px
    .antilloppe_img
        position: absolute
        width: 307px
        height: 334px
        bottom: 0
        left: 5%
        z-index: -1
        +max-screen($breakpoint-xxl)
            left: 3%
            width: 15vw
            height: 20vw
            bottom: -50px
