.center_text_img
    .section-bg
        background-image: url('../assets/images/blue_bg_2.jpg')
    .main_block
        max-width: 1000px
        margin: 0 auto
        display: flex
        width: 100%
    .content-block
        margin: 350px 0
        padding: 30px
        background-image: url('../assets/images/white_bg.svg')
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        +max-screen(1640px)
            background-size: 100%
        +max-screen($breakpoint-xxl)
            margin: 250px 0
        +max-screen(1640px)
            margin: 200px 0
        p
            font-size: 59px
            text-align: center
            +max-screen(1640px)
                font-size: 39px
        h3,h2
            font-size: 52px
            text-align: center
            +max-screen(1640px)
                font-size: 32px
