.cta-book
    padding-top: 60px
    padding-bottom: 60px
    &__content
        h2
            margin-bottom: 30px
        p
            color: $color-grey
    .main_block
        position: relative
        display: flex
        justify-content: space-between
        width: 100%
        max-width: 1294px
        margin: 0 auto
        z-index: 2
    .col
        width: 100%
        max-width: 900px
        align-self: center
        &:last-of-type
            max-width: 294px
