// events_section

.events_section
    padding-bottom: 35px
    .content_wrapper
        margin-top: 60px
    .events_row
        display: flex
        flex-wrap: wrap
        justify-content: space-between

    .event_block
        box-sizing: border-box
        position: relative
        width: 100%
        max-width: 440px
        height: 505px
        background: #FFFFFF
        border-radius: 60px
        padding: 40px
        a
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
    .top_event
        display: flex
        justify-content: space-between
        margin-bottom: 43px
    .date
        position: absolute
        left: 40px
        top: 20px
        display: flex
        flex-direction: column
        font-size: 22px
        line-height: 120%
        text-transform: uppercase
        span
            font-family: $font-family-secondary
            font-size: 96px
            line-height: 100%
            color: $color-blue
    .time
        display: flex
        flex-direction: column
        margin-left: auto

        span
            font-size: 22px
            line-height: 24px
            text-align: right
            &.year
                margin-bottom: 50px
    .img_event
        max-height: 182px

    .title_event
        position: absolute
        left: 40px
        right: 40px
        bottom: 40px
        p
            font-weight: 700
            font-size: 26px
            line-height: 140%

+max-screen($breakpoint-1920)

+max-screen($breakpoint-xxl)

+max-screen($breakpoint-1500)
    .events_section
        .event_block
            max-width: 360px
            height: 455px

+max-screen($breakpoint-xl)
    .events_section
        .event_block
            height: 455px
            padding: 30px
        .date
            left: 30px
            span
                font-size: 72px
        .time
            span.year
                margin-bottom: 40px

+max-screen($breakpoint-1200)
    .events_section
        .events_row
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 30px
            max-width: 750px
            margin: 0 auto
        .event_block
            margin: 0 auto
        .content_wrapper
            margin-top: 40px
+max-screen(1100px)

+max-screen(1025px)

+max-screen($breakpoint-lg)

+max-screen($breakpoint-md)
    .events_section
        .events_row
            display: grid
            grid-template-columns: repeat(1, 1fr)
            gap: 20px
+max-screen($breakpoint-sm)
    .events_section
        .title_event
            p
                font-size: 20px
