.global_villages
    .section-bg
        background-color: $color-lightgold
    &::before
        position: absolute
        content: ''
        width: 100%
        height: 182px
        left: 0
        top: -130px
        background-image: url('../assets/images/lines/school_bg_top.svg')
        background-size: cover
        background-repeat: no-repeat
        background-position: top
    &::after
        position: absolute
        content: ''
        width: 100%
        height: 182px
        left: 0
        bottom: -160px
        background-image: url('../assets/images/lines/school_bg_bottom.svg')
        background-size: cover
        background-repeat: no-repeat
        background-position: bottom
    &_row
        margin-top: 85px
        padding-bottom: 85px
        display: flex
        justify-content: space-between
        +max-screen(1200px)
            flex-direction: column
            margin-top: 15px
            padding-bottom: 0
        .col
            width: 100%

        .col_red
            margin-right: 64px
            display: flex
            flex-direction: column
            max-width: 728px
            +max-screen($breakpoint-xl)
                max-width: 628px
                margin-right: 34px
            +max-screen(1200px)
                max-width: none
                margin-right: 0
            .inner_block
                position: relative
            .red_title
                position: relative
                width: 100%
                max-width: 246px
                padding-top: 41px
                padding-right: 56px
                padding-bottom: 41px
                box-sizing: content-box
                +max-screen($breakpoint-xm)
                    max-width: 37%
                +max-screen(1200px)
                    margin-left: auto
                    margin-right: auto
                    padding-left: 56px
                    display: flex
                    box-sizing: border-box
                    flex-direction: column
                    max-width: none
                    // background-color: $color-red
                    p
                        order: 2
                        text-align: center
                        color: $color-red
            .section-bg_sm
                width: 100vw
                height: 100%
                position: absolute
                top: 0
                right: 0
                margin-right: 0
                z-index: -1
                background-color: $color-red
                +max-screen(1200px)
                    display: none
            .tree
                position: absolute
                width: 361px
                height: 234px
                left: 70%
                bottom: 20px
                +max-screen(1200px)
                    position: relative
                    left: auto
                    bottom: auto
                    order: 1
                    width: 200px
                    height: auto
                    margin-left: auto
                    margin-right: auto
                    margin-bottom: 30px
            .inner_block:last-of-type
                display: flex
                img
                    max-width: 377px
                    +max-screen($breakpoint-xl)
                        max-width: 50%
                    +max-screen(1200px)
                        max-width: 377px
                        margin-left: auto
                        margin-right: auto
                        margin-top: 30px

                +max-screen(1200px)
                    flex-direction: column
            .red_content
                width: 100%
                max-width: 290px
                margin-right: 76px
                padding-top: 36px
                color: black
                +max-screen($breakpoint-xl)
                    max-width: 340px
                +max-screen(1200px)
                    margin-left: auto
                    margin-right: auto
                    text-align: center
                    padding-top: 0
                a.button
                    margin-top: 20px
                    margin-left: 0
                    +max-screen(1200px)
                        margin-left: auto
        .col_blue
            position: relative
            width: 100%
            max-width: 608px
            padding-left: 61px
            display: flex
            +max-screen($breakpoint-xl)
                padding-left: 31px
            +max-screen(1200px)
                padding: 31px
                margin-left: auto
                margin-right: auto
                margin-top: 50px
            .content-block
                margin-top: 196px
                +max-screen($breakpoint-xl)
                    margin-top: 156px
                +max-screen(1200px)
                    margin: 120px auto
                    width: 100%
                    text-align: center
            .section-bg_sm
                width: 100vw
                height: 100%
                position: absolute
                top: 0
                left: 0
                margin-left: 0
                z-index: -1
                background-color: $color-blue
                +max-screen(1200px)
                    left: 50%
                    margin-left: calc(-1 * (100vw / 2))
            .cat
                position: absolute
                width: 260px
                bottom: 0
                left: 303px
                +max-screen($breakpoint-xm)
                    left: 40%
                    width: 15vw
                +max-screen(1200px)
                    left: -40%
                +max-screen(1024px)
                    left: -15vw
                +max-screen($breakpoint-md)
                    left: 0
                +max-screen($breakpoint-sm)
                    width: 134px
            .giraffe
                position: absolute
                width: 364px
                right: -40%
                bottom: 0
                +max-screen($breakpoint-xl)
                    width: 20vw
                    right: -30%
                +max-screen($breakpoint-xm)
                    right: -20%
                +max-screen(1200px)
                    right: -40%
                +max-screen(1024px)
                    right: -15vw
                +max-screen($breakpoint-md)
                    right: 0
                +max-screen($breakpoint-sm)
                    width: 184px
                    right: -50px
