// involved_section

.involved
    // padding-top: 200px
    .content_wrapper
        margin-top: 60px
    p.subtitle
        display: block
        text-align: center
        font-size: 26px
        line-height: 140%
        max-width: 773px
        width: 100%
        margin: 0 auto
    .involved_wrapper
        margin-top: 60px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 30px
    .inner_block
        display: flex
        &:nth-of-type(3),
        &:nth-of-type(4)
            .service_block
                order: 2
                margin-right: 0
                &.img_block
                    order: 1
                &:last-of-type
                    margin-right: 30px

    .service_block
        display: flex
        flex-direction: column
        position: relative
        border-radius: 60px
        width: 100%
        max-width: 337px
        height: 377px
        background: #FFFFFF
        overflow: hidden
        margin-right: 30px
        padding: 40px
        box-sizing: border-box
        p
            text-align: center
            font-size: 26px
            line-height: 140%
            margin-bottom: 10px
        &:last-of-type
            margin-right: 0
        &.img_block
            padding: 0
            background: none
            img
                height: 100%
    .text
        margin-top: 20px
        p
            font-size: 20px
            line-height: 140%
    a.button
        margin-top: auto
        font-size: 15px
        line-height: 120%
        width: 100%
        padding: 22px 44px
        align-self: flex-end

+max-screen($breakpoint-1920)

+max-screen($breakpoint-xxl)

+max-screen($breakpoint-1500)
    .involved
        .service_block
            max-width: 287px
            &.img_block
                img
                    object-fit: cover
+max-screen($breakpoint-xl)
    .involved
        .service_block
            width: 100%
            max-width: 337px
            &.img_block
                img
                    object-fit: none
        .involved_wrapper
            margin-top: 40px
            display: grid
            grid-template-columns: repeat(1,1fr)
            gap: 30px
        .inner_block
            margin: 0 auto

+max-screen($breakpoint-1200)

+max-screen(1100px)

+max-screen(1025px)

+max-screen($breakpoint-lg)

+max-screen($breakpoint-md)
    .involved
        .service_block
            max-width: 287px
            &.img_block
                img
                    object-fit: cover
+max-screen(700px)
    .involved
        .service_block
            margin-left: auto
            margin-right: auto
            margin-bottom: 30px
            width: 100%
            max-width: 337px
            &:last-of-type
                margin-bottom: 0
        .inner_block
            flex-direction: column
            &:nth-of-type(3),
            &:nth-of-type(4)
                .service_block
                    margin-left: auto
                    margin-right: auto
                    order: 1
                    margin-right: 0
                    &.img_block
                        order: 2
                    &:last-of-type
                        margin-left: auto
                        margin-right: auto
