.news
    .main_block
        display: flex
        padding-top: 200px
        padding-bottom: 350px
    .left_col
        width: 100%
        max-width: 442px
        position: relative
        .subtitle
            p
                text-align: left
        .title
            h2
                text-align: left
        .content-block
            margin-top: 25px
            color: #000
        .socials_block
            display: flex
            margin-top: 38px
            li
                max-width: 38px
                margin-right: 8px
                transition: .15s
                &:hover
                    transition: .15s
                    transform: translate(0, 4px)
        .lion_img
            position: absolute
            width: 451.07px
            height: 210.56px
            left: 0
            bottom: -98%
            z-index: 2
    &_col
        position: relative
        margin-left: 86px
        .news_list
            display: flex
            width: 100vw
            height: 100%
            position: absolute
            top: 0
            left: 0
            margin-left: 0
        .news_block
            width: 566px
            height: 460px
            margin-right: 22px
            background-size: cover !important
            background-repeat: no-repeat !important
            background-position: center !important
            &:last-of-type
                margin-right: 0
            a
                display: flex
                text-align: center
                width: 100%
                height: 100%

                span
                    align-self: center
                    text-align: center
                    width: 100%
