.slider-banner ~ .services-list
    padding-top: 200px
    +max-screen(1500px)
        padding-top: 100px
.services-list
    &::after
        position: absolute
        content: ""
        bottom: -40%
        right: 0
        height: 1513px
        width: 1126px
        background-position: 50%
        background-size: cover
        background-repeat: no-repeat
        background-image: url('../assets/images/lines/procedures_lines.svg')
        z-index: -1
        +max-screen($breakpoint-sm)
            bottom: auto
            top: 0
            height: 600px
            width: 100vw
    .title_wrapper
        position: relative
        width: 100%
        padding-bottom: 157px
        display: flex
        justify-content: space-between
        +max-screen(1500px)
            padding-bottom: 100px
        +max-screen($breakpoint-md)
            flex-direction: column
        .title
            display: flex
            h2
                align-self: center
    .btn_block
        align-self: center
        +max-screen($breakpoint-md)
            align-self: flex-start
            margin-top: 20px
    .content_wrapper
        position: relative
        margin-top: 0
        +max-screen(1200px)
            margin-top: 0
    &_row
        display: flex
        position: relative
        z-index: 1
        +max-screen(1024px)
            flex-direction: column
    &_block
        display: flex
        flex-direction: column
        position: relative
        width: 100%
        max-width: 533px
        +max-screen(1024px)
            margin: 0 auto 10px
        a
            display: flex
            flex-direction: column
            position: relative
            width: 100%
        &:nth-of-type(2)
            margin-top: 116px
            .services-list__img
                order: 2
            .services-list_title
                order: 1
            +max-screen(1500px)
                margin-top: 99px
            +max-screen(1024px)
                margin-top: 0
                .services-list__img
                    order: 1
                .services-list_title
                    order: 2
        &:hover
            .services-list_title
                transition: .3s
                h3
                    color: #fff
                    position: relative
                p
                    color: #fff
                    position: relative
                svg
                    position: relative
                    path
                        fill: #fff
                &::before
                    position: absolute
                    content: ''
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    transition: width .7s
                    background-color: $default-text-color
    &__img
        width: 100%
        img
            object-fit: cover
            min-height: 237px
            +max-screen(1500px)
                min-height: 200px
            +max-screen(425px)
                min-height: 160px
    &_title
        position: relative
        display: flex
        justify-content: space-between
        padding: 38px 60px
        background-color: #fff
        +max-screen(1500px)
            padding: 28px 40px
        h3
            margin-bottom: 5px
        &::before
            position: absolute
            content: ''
            top: 0
            left: 0
            width: 10px
            height: 100%
            background-color: $default-text-color
    .icon
        display: flex
        svg
            align-self: center
