.text_center
    .main_block
        padding-bottom: 173px
    .content-block
        margin-right: auto
        margin-left: auto
        margin-top: 24px
        margin-bottom: 22px
        color: black
        max-width: 634px
        text-align: center
        a.button
            margin-left: auto
    .tree_img
        position: absolute
        width: 550px
        height: 442.4px
        bottom: -60px
        left: 6%
    .pig_img
        position: absolute
        width: 306.86px
        height: 144.76px
        right: 6%
        bottom: -110px
